<footer class="footer-container">
    <div class="d-flex justify-content-between fh">
        <a class="footer-icon"><em class="ion-chatboxes"></em><span>Messages</span></a>
        <a class="footer-icon"><em class="ion-document-text"></em><span>Widgets</span></a>
        <a class="footer-icon footer-icon-lg"><em class="ion-home"></em><span>Dashboard</span></a>
        <a class="footer-icon"><em class="ion-map"></em><span>Maps</span></a>
        <a class="footer-icon"><em class="ion-pie-graph"></em><span>Charts</span></a>
    </div>
</footer>
