/**
 * Footer
 */

@import '../../shared/styles/common/variables';
@import '../../shared/styles/common/mixins';

.footer-container {
    left: 0;
    right: 0;
    bottom: 0;
    height: $footer-hg;
    border-top: 1px solid rgba(90,90,90, .12);
    background-color: $body-bg;
    box-shadow: 0px -5px 25px 0px rgba(123, 123, 123, 0.15);
    color: $mdc-blue-grey-300;
}

.footer-icon {
    display: block;
    padding: 10px 6px;
    border-bottom: 2px solid transparent;
    font-size: 2rem;
    text-align: center;
    height: 100%;
    line-height: 1;
    text-decoration: none !important;
    flex-basis: 0;
    flex-grow: 1;

    &:hover, &:focus, &:active, &.active {
        color: $brand-info !important;
        border-bottom-color: $brand-info;
    }

    span {
        display: block;
        font-size: .7rem;
    }

    &.footer-icon-lg {
        em {
            display: inline-block;
            font-size: 2.75rem;
            margin-top: -.95rem;
        }
    }
}

.footer-fixed {
    .footer-container {
        position: fixed;
        @media #{$min-desktop} {
            margin-left: $sidebar-wd;
        }
    }
    .main-container {
        padding-bottom: $footer-hg;
    }
}
