<div bsModal #settingsModal="bs-modal" class="modal-settings modal modal-right fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="mt-0 modal-title"><span>Settings</span></h4>
                <div class="float-right clickable" (click)="settingsModal.hide()"><em class="ion-close-round text-soft"></em></div>
            </div>
            <div class="modal-body">
                <p>Dark sidebar</p>
                <div class="d-flex flex-wrap mb-3">
                    <div class="setting-color">
                        <label class="preview-theme-default">
                            <input type="radio" checked name="settingTheme" [(ngModel)]="selectedTheme" (change)="updateTheme()" value="theme-default"><span class="ion-checkmark-round"></span><span class="square24 b"></span>
                        </label>
                    </div>
                    <div class="setting-color">
                        <label class="preview-theme-2">
                            <input type="radio" name="settingTheme" [(ngModel)]="selectedTheme" (change)="updateTheme()" value="theme-2"><span class="ion-checkmark-round"></span><span class="square24 b"></span>
                        </label>
                    </div>
                    <div class="setting-color">
                        <label class="preview-theme-3">
                            <input type="radio" name="settingTheme" [(ngModel)]="selectedTheme" (change)="updateTheme()" value="theme-3"><span class="ion-checkmark-round"></span><span class="square24 b"></span>
                        </label>
                    </div>
                    <div class="setting-color">
                        <label class="preview-theme-4">
                            <input type="radio" name="settingTheme" [(ngModel)]="selectedTheme" (change)="updateTheme()" value="theme-4"><span class="ion-checkmark-round"></span><span class="square24 b"></span>
                        </label>
                    </div>
                    <div class="setting-color">
                        <label class="preview-theme-5">
                            <input type="radio" name="settingTheme" [(ngModel)]="selectedTheme" (change)="updateTheme()" value="theme-5"><span class="ion-checkmark-round"></span><span class="square24 b"></span>
                        </label>
                    </div>
                    <div class="setting-color">
                        <label class="preview-theme-6">
                            <input type="radio" name="settingTheme" [(ngModel)]="selectedTheme" (change)="updateTheme()" value="theme-6"><span class="ion-checkmark-round"></span><span class="square24 b"></span>
                        </label>
                    </div>
                </div>
                <p>White sidebar</p>
                <div class="d-flex flex-wrap mb-3">
                    <div class="setting-color">
                        <label class="preview-theme-default">
                            <input type="radio" name="settingTheme" [(ngModel)]="selectedTheme" (change)="updateTheme()" value="theme-default-w"><span class="ion-checkmark-round"></span><span class="square24 b"></span>
                        </label>
                    </div>
                    <div class="setting-color">
                        <label class="preview-theme-2">
                            <input type="radio" name="settingTheme" [(ngModel)]="selectedTheme" (change)="updateTheme()" value="theme-2-w"><span class="ion-checkmark-round"></span><span class="square24 b"></span>
                        </label>
                    </div>
                    <div class="setting-color">
                        <label class="preview-theme-3">
                            <input type="radio" name="settingTheme" [(ngModel)]="selectedTheme" (change)="updateTheme()" value="theme-3-w"><span class="ion-checkmark-round"></span><span class="square24 b"></span>
                        </label>
                    </div>
                    <div class="setting-color">
                        <label class="preview-theme-4">
                            <input type="radio" name="settingTheme" [(ngModel)]="selectedTheme" (change)="updateTheme()" value="theme-4-w"><span class="ion-checkmark-round"></span><span class="square24 b"></span>
                        </label>
                    </div>
                    <div class="setting-color">
                        <label class="preview-theme-5">
                            <input type="radio" name="settingTheme" [(ngModel)]="selectedTheme" (change)="updateTheme()" value="theme-5-w"><span class="ion-checkmark-round"></span><span class="square24 b"></span>
                        </label>
                    </div>
                    <div class="setting-color">
                        <label class="preview-theme-6">
                            <input type="radio" name="settingTheme" [(ngModel)]="selectedTheme" (change)="updateTheme()" value="theme-6-w"><span class="ion-checkmark-round"></span><span class="square24 b"></span>
                        </label>
                    </div>
                </div>
                <p>Sidebar Gradients</p>
                <div class="d-flex flex-wrap mb-3">
                    <div class="setting-color">
                        <label class="preview-theme-gradient-1">
                            <input type="radio" name="settingTheme" [(ngModel)]="selectedTheme" (change)="updateTheme()" value="theme-gradient-sidebar-1"><span class="ion-checkmark-round"></span><span class="square24 b"></span>
                        </label>
                    </div>
                    <div class="setting-color">
                        <label class="preview-theme-gradient-2">
                            <input type="radio" name="settingTheme" [(ngModel)]="selectedTheme" (change)="updateTheme()" value="theme-gradient-sidebar-2"><span class="ion-checkmark-round"></span><span class="square24 b"></span>
                        </label>
                    </div>
                    <div class="setting-color">
                        <label class="preview-theme-gradient-3">
                            <input type="radio" name="settingTheme" [(ngModel)]="selectedTheme" (change)="updateTheme()" value="theme-gradient-sidebar-3"><span class="ion-checkmark-round"></span><span class="square24 b"></span>
                        </label>
                    </div>
                    <div class="setting-color">
                        <label class="preview-theme-gradient-4">
                            <input type="radio" name="settingTheme" [(ngModel)]="selectedTheme" (change)="updateTheme()" value="theme-gradient-sidebar-4"><span class="ion-checkmark-round"></span><span class="square24 b"></span>
                        </label>
                    </div>
                    <div class="setting-color">
                        <label class="preview-theme-gradient-5">
                            <input type="radio" name="settingTheme" [(ngModel)]="selectedTheme" (change)="updateTheme()" value="theme-gradient-sidebar-5"><span class="ion-checkmark-round"></span><span class="square24 b"></span>
                        </label>
                    </div>
                    <div class="setting-color">
                        <label class="preview-theme-gradient-6">
                            <input type="radio" name="settingTheme" [(ngModel)]="selectedTheme" (change)="updateTheme()" value="theme-gradient-sidebar-6"><span class="ion-checkmark-round"></span><span class="square24 b"></span>
                        </label>
                    </div>
                </div>
                <p>Header Gradients</p>
                <div class="d-flex flex-wrap mb-3">
                    <div class="setting-color">
                        <label class="preview-theme-gradient-1">
                            <input type="radio" name="settingTheme" [(ngModel)]="selectedTheme" (change)="updateTheme()" value="theme-gradient-header-1"><span class="ion-checkmark-round"></span><span class="square24 b"></span>
                        </label>
                    </div>
                    <div class="setting-color">
                        <label class="preview-theme-gradient-2">
                            <input type="radio" name="settingTheme" [(ngModel)]="selectedTheme" (change)="updateTheme()" value="theme-gradient-header-2"><span class="ion-checkmark-round"></span><span class="square24 b"></span>
                        </label>
                    </div>
                    <div class="setting-color">
                        <label class="preview-theme-gradient-3">
                            <input type="radio" name="settingTheme" [(ngModel)]="selectedTheme" (change)="updateTheme()" value="theme-gradient-header-3"><span class="ion-checkmark-round"></span><span class="square24 b"></span>
                        </label>
                    </div>
                    <div class="setting-color">
                        <label class="preview-theme-gradient-4">
                            <input type="radio" name="settingTheme" [(ngModel)]="selectedTheme" (change)="updateTheme()" value="theme-gradient-header-4"><span class="ion-checkmark-round"></span><span class="square24 b"></span>
                        </label>
                    </div>
                    <div class="setting-color">
                        <label class="preview-theme-gradient-5">
                            <input type="radio" name="settingTheme" [(ngModel)]="selectedTheme" (change)="updateTheme()" value="theme-gradient-header-5"><span class="ion-checkmark-round"></span><span class="square24 b"></span>
                        </label>
                    </div>
                    <div class="setting-color">
                        <label class="preview-theme-gradient-6">
                            <input type="radio" name="settingTheme" [(ngModel)]="selectedTheme" (change)="updateTheme()" value="theme-gradient-header-6"><span class="ion-checkmark-round"></span><span class="square24 b"></span>
                        </label>
                    </div>
                </div>
                <p>Dark content</p>
                <div class="d-flex flex-wrap mb-3">
                    <div class="setting-color">
                        <label class="preview-theme-dark">
                            <input type="radio" name="settingTheme" [(ngModel)]="selectedTheme" (change)="updateTheme()" value="theme-dark"><span class="ion-checkmark-round"></span><span class="square24 b"></span>
                        </label>
                    </div>
                </div>
                <hr>
                <p>
                    <label class="custom-control custom-checkbox">
                        <input class="custom-control-input" [(ngModel)]="settings.app.sidebar.coverMode" type="checkbox">
                        <span class="custom-control-indicator"></span><span class="custom-control-description">Sidebar Cover</span>
                    </label>
                </p>
                <p>
                    <label class="custom-control custom-checkbox">
                        <input class="custom-control-input" [(ngModel)]="settings.app.sidebar.showtoolbar" type="checkbox">
                        <span class="custom-control-indicator"></span><span class="custom-control-description">Sidebar profile</span>
                    </label>
                </p>
                <p>
                    <label class="custom-control custom-checkbox">
                        <input class="custom-control-input" [(ngModel)]="settings.app.footer.fixed" type="checkbox">
                        <span class="custom-control-indicator"></span><span class="custom-control-description">Fixed Footer</span>
                    </label>
                </p>
                <hr>
                <button type="button" #fsbutton (click)="toggleFullScreen()" class="btn btn-secondary">Toggle fullscreen</button>
                <hr>
                <p>Change language</p>
                <!-- START Language list-->
                <select class="language-select custom-select form-control"
                        [(ngModel)]="selectedLanguage"
                        (change)="translator.useLanguage(selectedLanguage)">
                    <option *ngFor="let lang of translator.getAvailableLanguages()" [value]="lang.code">
                        {{lang.text}}
                    </option>
                </select>
                <!-- END Language list-->
                <div class="mt-3" [translate]="'translate.EXAMPLE'">This is an example text using English as selected language.</div>
            </div>
        </div>
    </div>
</div>
