<div class="container container-md">
    <div class="row">
        <!-- PLAN-->
        <div class="col-sm-4">
            <div class="cardbox b">
                <div class="p-2">
                    <div class="cardbox-body bg-gradient-primary text-center text-white rounded"><em class="ion-bag icon-3x"></em>
                        <div class="text-bold">INITIAL</div>
                    </div>
                </div>
                <div class="cardbox-body">
                    <p class="mb-3"><em class="ion-checkmark-round mx-3"></em><span>Unlimited Styles</span></p>
                    <p class="mb-3"><em class="ion-checkmark-round mx-3"></em><span>RTL &amp; Translation</span></p>
                    <p class="mb-3"><em class="ion-checkmark-round mx-3"></em><span>Customer support</span></p>
                    <p class="mb-3"><em class="ion-checkmark-round mx-3"></em><span>Free Updates</span></p>
                    <p class="mb-3"><em class="ion-checkmark-round mx-3"></em><span>Limited to one client</span></p>
                    <p class="mb-3"><em class="ion-checkmark-round mx-3"></em><span>Multiple installation</span></p>
                    <p class="mb-3"><em class="ion-checkmark-round mx-3"></em><span>Not ready for resale</span></p>
                </div>
                <div class="cardbox-body text-center">
                    <div class="h1 mb-4 text-primary text-bold">FREE</div><a class="btn btn-outline-primary" href="#">CHOOSE</a>
                </div>
            </div>
        </div>
        <!-- PLAN-->
        <div class="col-sm-4">
            <div class="cardbox b">
                <div class="p-2">
                    <div class="cardbox-body bg-gradient-info text-center text-white rounded"><em class="ion-bag icon-3x"></em>
                        <div class="text-bold">ADVANCED</div>
                    </div>
                </div>
                <div class="cardbox-body">
                    <p class="mb-3"><em class="ion-checkmark-round mx-3"></em><span>Unlimited Styles</span></p>
                    <p class="mb-3"><em class="ion-checkmark-round mx-3"></em><span>RTL &amp; Translation</span></p>
                    <p class="mb-3"><em class="ion-checkmark-round mx-3"></em><span>Customer support</span></p>
                    <p class="mb-3"><em class="ion-checkmark-round mx-3"></em><span>Free Updates</span></p>
                    <p class="mb-3"><em class="ion-checkmark-round mx-3"></em><span>Limited to one client</span></p>
                    <p class="mb-3"><em class="ion-checkmark-round mx-3"></em><span>Multiple installation</span></p>
                    <p class="mb-3"><em class="ion-checkmark-round mx-3"></em><span>Not ready for resale</span></p>
                </div>
                <div class="cardbox-body text-center">
                    <div class="mb-4 text-info"><span class="h1"><small>$</small><span class="text-bold">30</span></span><small class="text-muted">/ year</small></div><a class="btn btn-outline-info" href="#">CHOOSE</a>
                </div>
            </div>
        </div>
        <!-- PLAN-->
        <div class="col-sm-4">
            <div class="cardbox b">
                <div class="p-2">
                    <div class="cardbox-body bg-gradient-success text-center text-white rounded"><em class="ion-bag icon-3x"></em>
                        <div class="text-bold">PREMIUM</div>
                    </div>
                </div>
                <div class="cardbox-body">
                    <p class="mb-3"><em class="ion-checkmark-round mx-3"></em><span>Unlimited Styles</span></p>
                    <p class="mb-3"><em class="ion-checkmark-round mx-3"></em><span>RTL &amp; Translation</span></p>
                    <p class="mb-3"><em class="ion-checkmark-round mx-3"></em><span>Customer support</span></p>
                    <p class="mb-3"><em class="ion-checkmark-round mx-3"></em><span>Free Updates</span></p>
                    <p class="mb-3"><em class="ion-checkmark-round mx-3"></em><span>Limited to one client</span></p>
                    <p class="mb-3"><em class="ion-checkmark-round mx-3"></em><span>Multiple installation</span></p>
                    <p class="mb-3"><em class="ion-checkmark-round mx-3"></em><span>Ready for resale*</span></p>
                </div>
                <div class="cardbox-body text-center">
                    <div class="mb-4 text-success"><span class="h1"><small>$</small><span class="text-bold">30</span></span><small class="text-muted">/ year</small></div><a class="btn btn-outline-success" href="#">CHOOSE</a>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-5"></div>
    <div class="card-group">
        <!-- PLAN-->
        <div class="card b">
            <div class="card-block text-center bb text-info"><em class="ion-heart icon-2x"></em>
                <h1 class="my-4 text-bold"><sup></sup><span class="text-lg">FREE</span><span></span></h1>
            </div>
            <div class="card-block text-center">
                <p class="mb-4"><span>Unlimited Styles</span></p>
                <p class="mb-4"><span>RTL &amp; Translation</span></p>
                <p class="mb-4"><span>
                      <del>Customer support</del></span></p>
                <p class="mb-4"><span>Free Updates</span></p>
                <p class="mb-4"><span>Limited to one client</span></p>
                <p class="mb-4"><span>
                      <del>Multiple installation</del></span></p>
                <p class="mb-4"><span>Not ready for resale</span></p>
            </div>
            <div class="card-block text-center bt text-info"><a class="btn btn-info btn-flat" href="#">CHOOSE</a></div>
        </div>
        <!-- PLAN-->
        <div class="card b">
            <div class="card-block text-center bb text-primary"><em class="ion-star icon-2x"></em>
                <h1 class="my-4 text-bold"><sup>$</sup><span class="text-lg">17</span><small>/mo</small></h1>
            </div>
            <div class="card-block text-center">
                <p class="mb-4"><span>Unlimited Styles</span></p>
                <p class="mb-4"><span>RTL &amp; Translation</span></p>
                <p class="mb-4"><span>Customer support</span></p>
                <p class="mb-4"><span>Free Updates</span></p>
                <p class="mb-4"><span>Limited to one client</span></p>
                <p class="mb-4"><span>Multiple installation</span></p>
                <p class="mb-4"><span>Not ready for resale</span></p>
            </div>
            <div class="card-block text-center bt"><a class="btn btn-primary" href="#">RECOMMENDED</a></div>
        </div>
        <!-- PLAN-->
        <div class="card b">
            <div class="card-block text-center bb text-primary"><em class="ion-help-buoy icon-2x"></em>
                <h1 class="my-4 text-bold"><sup>$</sup><span class="text-lg">49</span><small>/mo</small></h1>
            </div>
            <div class="card-block text-center">
                <p class="mb-4"><span>Unlimited Styles</span></p>
                <p class="mb-4"><span>RTL &amp; Translation</span></p>
                <p class="mb-4"><span>Customer support</span></p>
                <p class="mb-4"><span>Free Updates</span></p>
                <p class="mb-4"><span>Limited to one client</span></p>
                <p class="mb-4"><span>Multiple installation</span></p>
                <p class="mb-4"><span>Not ready for resale</span></p>
            </div>
            <div class="card-block text-center bt text-primary"><a class="btn btn-primary btn-flat" href="#">CHOOSE</a></div>
        </div>
        <!-- PLAN-->
        <div class="card b">
            <div class="card-block text-center bb text-danger"><em class="ion-wand icon-2x"></em>
                <h1 class="my-4 text-bold"><sup>$</sup><span class="text-lg">95</span><small>/mo</small></h1>
            </div>
            <div class="card-block text-center">
                <p class="mb-4"><span>Unlimited Styles</span></p>
                <p class="mb-4"><span>RTL &amp; Translation</span></p>
                <p class="mb-4"><span>Customer support</span></p>
                <p class="mb-4"><span>Free Updates</span></p>
                <p class="mb-4"><span>Limited to one client</span></p>
                <p class="mb-4"><span>Multiple installation</span></p>
                <p class="mb-4"><span>Ready for resale*</span></p>
            </div>
            <div class="card-block text-center bt"><a class="btn btn-danger btn-flat" href="#">CHOOSE</a></div>
        </div>
    </div>
</div>
