@import '../../../shared/styles/common/variables';
@import '../../../shared/styles/common/mixins';

@import '../../charts/flot/flot.component.scss';

.welcome {
    padding-top: 1rem;
    @media #{$min-tablet} {
        padding-top: 0;
    }
    > h1 {
        font-size: 2rem;
        line-height: 1;
        margin: 0 0 .5rem 0;
        @media #{$min-tablet} {
            font-size: 2.5rem;
        }
    }
    > small {
        color: $text-muted;
    }
}
