<div class="container-md">
    <div class="list-group mb-3">
        <div class="list-group-item justify-content-between flex-nowrap">
            <p>A basic message</p>
            <p><a class="btn btn-primary" (click)="swalDemo1();" href="javascript:">Try me!</a></p>
        </div>
    </div>
    <div class="list-group mb-3">
        <div class="list-group-item justify-content-between flex-nowrap">
            <p>A title with a text under</p>
            <p><a class="btn btn-primary" (click)="swalDemo2();" href="javascript:">Try me!</a></p>
        </div>
    </div>
    <div class="list-group mb-3">
        <div class="list-group-item justify-content-between flex-nowrap">
            <p>A success message!</p>
            <p><a class="btn btn-primary" (click)="swalDemo3();" href="javascript:">Try me!</a></p>
        </div>
    </div>
    <div class="list-group mb-3">
        <div class="list-group-item justify-content-between flex-nowrap">
            <p>A warning message, with a function attached to the &quot;Confirm&quot;-button</p>
            <p><a class="btn btn-primary" (click)="swalDemo4();" href="javascript:">Try me!</a></p>
        </div>
    </div>
    <div class="list-group mb-3">
        <div class="list-group-item justify-content-between flex-nowrap">
            <p>... and by passing a parameter, you can execute something else for &quot;Cancel&quot;.</p>
            <p><a class="btn btn-primary" (click)="swalDemo5();" href="javascript:">Try me!</a></p>
        </div>
    </div>
</div>
