//- span 2017 - Dasha app.
.d-flex.justify-content-between.fh
    a(href="#").footer-icon
        em.ion-chatboxes
        span Messages
    a(href="#").footer-icon
        em.ion-document-text
        span Widgets
    a(href="#").footer-icon.footer-icon-lg
        em.ion-home
        span Dashboard
    a(href="#").footer-icon
        em.ion-map
        span Maps
    a(href="#").footer-icon
        em.ion-pie-graph
        span Charts
