<div class="container container-fluid">
    <div class="mb-4 text-right">
        <button class="btn btn-primary btm-sm" type="button"><em class="ion-plus mr-2"></em>New Contact</button>
    </div>
    <div class="mb-4">
        <div class="row">
            <div class="col-lg-8">
                <form>
                    <input class="form-control form-control-lg" type="text" placeholder="Search Name, Job, etc...">
                </form>
            </div>
            <div class="col-lg-4">
                <select class="form-control form-control-lg" name="area">
                    <option value="">Select Area</option>
                    <option value="">Area 1</option>
                    <option value="">Area 2</option>
                    <option value="">Area 3</option>
                </select>
            </div>
        </div>
    </div>
    <div class="card-columns">
        <div class="card mb-4">
            <div class="card-block pb-0 clearfix">
                <!-- START dropdown-->
                <div dropdown class="float-right dropdown hidden-md-down">
                    <button class="btn btn-flat btn-flat-icon" type="button" dropdownToggle><em class="ion-android-more-horizontal"></em></button>
                    <div *dropdownMenu class="dropdown-menu dropdown-scale dropdown-menu-right" role="menu"><a class="dropdown-item" href="#">Call</a><a class="dropdown-item" href="#">Locate</a><a class="dropdown-item" href="#">Edit</a></div>
                </div>
                <!-- END dropdown-->
            </div>
            <div class="card-block pt-0">
                <div class="text-center">
                    <div class="mb-3"><img class="wd-sm rounded-circle img-thumbnail" src="assets/img/user/01.jpg" alt="user"></div>
                    <div class="h3">Eleanor Harper</div>
                    <p><em class="ion-briefcase mr-2"></em><small class="text-muted">Art director</small></p>
                </div>
                <p class="mt-3">Proin est sapien, convallis non hendrerit nec, laoreet ut ipsum. Sed pharetra euismod dolor, id feugiat ante volutpat eget. Etiam at enim quis nulla facilisis lacinia.</p>
                <p><em class="ion-email mr-2"></em>mail@contact.com</p>
                <p><em class="ion-email mr-2"></em>mail2@contact.com</p>
            </div>
            <div class="card-footer text-center">
                <button class="btn btn-sm btn-secondary" type="button"><em class="ion-email icon-lg icon-fw"></em></button>
                <button class="btn btn-sm btn-secondary" type="button"><em class="ion-social-facebook icon-lg icon-fw"></em></button>
                <button class="btn btn-sm btn-secondary" type="button"><em class="ion-social-twitter icon-lg icon-fw"></em></button>
                <button class="btn btn-sm btn-secondary" type="button"><em class="ion-social-skype icon-lg icon-fw"></em></button>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-block pb-0 clearfix">
                <!-- START dropdown-->
                <div dropdown class="float-right dropdown hidden-md-down">
                    <button class="btn btn-flat btn-flat-icon" type="button" dropdownToggle><em class="ion-android-more-horizontal"></em></button>
                    <div *dropdownMenu class="dropdown-menu dropdown-scale dropdown-menu-right" role="menu"><a class="dropdown-item" href="#">Call</a><a class="dropdown-item" href="#">Locate</a><a class="dropdown-item" href="#">Edit</a></div>
                </div>
                <!-- END dropdown-->
            </div>
            <div class="card-block pt-0">
                <div class="text-center">
                    <div class="mb-3"><img class="wd-sm rounded-circle img-thumbnail" src="assets/img/user/02.jpg" alt="user"></div>
                    <div class="h3">Theresa Foster</div>
                    <p><em class="ion-briefcase mr-2"></em><small class="text-muted">Art director</small></p>
                </div>
                <p class="mt-3">Proin est sapien, convallis non hendrerit nec, laoreet ut ipsum. Sed pharetra euismod dolor, id feugiat ante volutpat eget.</p>
            </div>
            <div class="card-footer text-center">
                <button class="btn btn-sm btn-secondary" type="button"><em class="ion-email icon-lg icon-fw"></em></button>
                <button class="btn btn-sm btn-secondary" type="button"><em class="ion-social-facebook icon-lg icon-fw"></em></button>
                <button class="btn btn-sm btn-secondary" type="button"><em class="ion-social-twitter icon-lg icon-fw"></em></button>
                <button class="btn btn-sm btn-secondary" type="button"><em class="ion-social-skype icon-lg icon-fw"></em></button>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-block pb-0 clearfix">
                <!-- START dropdown-->
                <div dropdown class="float-right dropdown hidden-md-down">
                    <button class="btn btn-flat btn-flat-icon" type="button" dropdownToggle><em class="ion-android-more-horizontal"></em></button>
                    <div *dropdownMenu class="dropdown-menu dropdown-scale dropdown-menu-right" role="menu"><a class="dropdown-item" href="#">Call</a><a class="dropdown-item" href="#">Locate</a><a class="dropdown-item" href="#">Edit</a></div>
                </div>
                <!-- END dropdown-->
            </div>
            <div class="card-block pt-0">
                <div class="text-center">
                    <div class="mb-3"><img class="wd-sm rounded-circle img-thumbnail" src="assets/img/user/03.jpg" alt="user"></div>
                    <div class="h3">Don Carlson</div>
                    <p><em class="ion-briefcase mr-2"></em><small class="text-muted">Art director</small></p>
                </div>
                <p class="mt-3">Proin est sapien, convallis non hendrerit nec, laoreet ut ipsum. Sed pharetra euismod dolor, id feugiat ante volutpat eget.</p>
            </div>
            <div class="card-footer text-center">
                <button class="btn btn-sm btn-secondary" type="button"><em class="ion-email icon-lg icon-fw"></em></button>
                <button class="btn btn-sm btn-secondary" type="button"><em class="ion-social-facebook icon-lg icon-fw"></em></button>
                <button class="btn btn-sm btn-secondary" type="button"><em class="ion-social-twitter icon-lg icon-fw"></em></button>
                <button class="btn btn-sm btn-secondary" type="button"><em class="ion-social-skype icon-lg icon-fw"></em></button>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-block pb-0 clearfix">
                <!-- START dropdown-->
                <div dropdown class="float-right dropdown hidden-md-down">
                    <button class="btn btn-flat btn-flat-icon" type="button" dropdownToggle><em class="ion-android-more-horizontal"></em></button>
                    <div *dropdownMenu class="dropdown-menu dropdown-scale dropdown-menu-right" role="menu"><a class="dropdown-item" href="#">Call</a><a class="dropdown-item" href="#">Locate</a><a class="dropdown-item" href="#">Edit</a></div>
                </div>
                <!-- END dropdown-->
            </div>
            <div class="card-block pt-0">
                <div class="text-center">
                    <div class="mb-3"><img class="wd-sm rounded-circle img-thumbnail" src="assets/img/user/04.jpg" alt="user"></div>
                    <div class="h3">Robin Richardson</div>
                    <p><em class="ion-briefcase mr-2"></em><small class="text-muted">Art director</small></p>
                </div>
                <p class="mt-3">Proin est sapien, convallis non hendrerit nec, laoreet ut ipsum. Sed pharetra euismod dolor, id feugiat ante volutpat eget.</p>
            </div>
            <div class="card-footer text-center">
                <button class="btn btn-sm btn-secondary" type="button"><em class="ion-email icon-lg icon-fw"></em></button>
                <button class="btn btn-sm btn-secondary" type="button"><em class="ion-social-facebook icon-lg icon-fw"></em></button>
                <button class="btn btn-sm btn-secondary" type="button"><em class="ion-social-twitter icon-lg icon-fw"></em></button>
                <button class="btn btn-sm btn-secondary" type="button"><em class="ion-social-skype icon-lg icon-fw"></em></button>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-block pb-0 clearfix">
                <!-- START dropdown-->
                <div dropdown class="float-right dropdown hidden-md-down">
                    <button class="btn btn-flat btn-flat-icon" type="button" dropdownToggle><em class="ion-android-more-horizontal"></em></button>
                    <div *dropdownMenu class="dropdown-menu dropdown-scale dropdown-menu-right" role="menu"><a class="dropdown-item" href="#">Call</a><a class="dropdown-item" href="#">Locate</a><a class="dropdown-item" href="#">Edit</a></div>
                </div>
                <!-- END dropdown-->
            </div>
            <div class="card-block pt-0">
                <div class="text-center">
                    <div class="mb-3"><img class="wd-sm rounded-circle img-thumbnail" src="assets/img/user/05.jpg" alt="user"></div>
                    <div class="h3">Fernando Morrison</div>
                    <p><em class="ion-briefcase mr-2"></em><small class="text-muted">Art director</small></p>
                </div>
                <p class="mt-3">Proin est sapien, convallis non hendrerit nec, laoreet ut ipsum. Sed pharetra euismod dolor, id feugiat ante volutpat eget.</p>
            </div>
            <div class="card-footer text-center">
                <button class="btn btn-sm btn-secondary" type="button"><em class="ion-email icon-lg icon-fw"></em></button>
                <button class="btn btn-sm btn-secondary" type="button"><em class="ion-social-facebook icon-lg icon-fw"></em></button>
                <button class="btn btn-sm btn-secondary" type="button"><em class="ion-social-twitter icon-lg icon-fw"></em></button>
                <button class="btn btn-sm btn-secondary" type="button"><em class="ion-social-skype icon-lg icon-fw"></em></button>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-block pb-0 clearfix">
                <!-- START dropdown-->
                <div dropdown class="float-right dropdown hidden-md-down">
                    <button class="btn btn-flat btn-flat-icon" type="button" dropdownToggle><em class="ion-android-more-horizontal"></em></button>
                    <div *dropdownMenu class="dropdown-menu dropdown-scale dropdown-menu-right" role="menu"><a class="dropdown-item" href="#">Call</a><a class="dropdown-item" href="#">Locate</a><a class="dropdown-item" href="#">Edit</a></div>
                </div>
                <!-- END dropdown-->
            </div>
            <div class="card-block pt-0">
                <div class="text-center">
                    <div class="mb-3"><img class="wd-sm rounded-circle img-thumbnail" src="assets/img/user/06.jpg" alt="user"></div>
                    <div class="h3">Nathaniel Gutierrez</div>
                    <p><em class="ion-briefcase mr-2"></em><small class="text-muted">Art director</small></p>
                </div>
                <p class="mt-3">Vestibulum vel dui vel magna vulputate tempus non eget magna.</p>
            </div>
            <div class="card-footer text-center">
                <button class="btn btn-sm btn-secondary" type="button"><em class="ion-email icon-lg icon-fw"></em></button>
                <button class="btn btn-sm btn-secondary" type="button"><em class="ion-social-facebook icon-lg icon-fw"></em></button>
                <button class="btn btn-sm btn-secondary" type="button"><em class="ion-social-twitter icon-lg icon-fw"></em></button>
                <button class="btn btn-sm btn-secondary" type="button"><em class="ion-social-skype icon-lg icon-fw"></em></button>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-block pb-0 clearfix">
                <!-- START dropdown-->
                <div dropdown class="float-right dropdown hidden-md-down">
                    <button class="btn btn-flat btn-flat-icon" type="button" dropdownToggle><em class="ion-android-more-horizontal"></em></button>
                    <div *dropdownMenu class="dropdown-menu dropdown-scale dropdown-menu-right" role="menu"><a class="dropdown-item" href="#">Call</a><a class="dropdown-item" href="#">Locate</a><a class="dropdown-item" href="#">Edit</a></div>
                </div>
                <!-- END dropdown-->
            </div>
            <div class="card-block pt-0">
                <div class="text-center">
                    <div class="mb-3"><img class="wd-sm rounded-circle img-thumbnail" src="assets/img/user/07.jpg" alt="user"></div>
                    <div class="h3">Shannon Robinson</div>
                    <p><em class="ion-briefcase mr-2"></em><small class="text-muted">Art director</small></p>
                </div>
                <p class="mt-3">Proin est sapien, convallis non hendrerit nec, laoreet ut ipsum. Sed pharetra euismod dolor, id feugiat ante volutpat eget. Phasellus dolor velit, dictum a pulvinar eu, convallis a ante.</p>
            </div>
            <div class="card-footer text-center">
                <button class="btn btn-sm btn-secondary" type="button"><em class="ion-email icon-lg icon-fw"></em></button>
                <button class="btn btn-sm btn-secondary" type="button"><em class="ion-social-facebook icon-lg icon-fw"></em></button>
                <button class="btn btn-sm btn-secondary" type="button"><em class="ion-social-twitter icon-lg icon-fw"></em></button>
                <button class="btn btn-sm btn-secondary" type="button"><em class="ion-social-skype icon-lg icon-fw"></em></button>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-block pb-0 clearfix">
                <!-- START dropdown-->
                <div dropdown class="float-right dropdown hidden-md-down">
                    <button class="btn btn-flat btn-flat-icon" type="button" dropdownToggle><em class="ion-android-more-horizontal"></em></button>
                    <div *dropdownMenu class="dropdown-menu dropdown-scale dropdown-menu-right" role="menu"><a class="dropdown-item" href="#">Call</a><a class="dropdown-item" href="#">Locate</a><a class="dropdown-item" href="#">Edit</a></div>
                </div>
                <!-- END dropdown-->
            </div>
            <div class="card-block pt-0">
                <div class="text-center">
                    <div class="mb-3"><img class="wd-sm rounded-circle img-thumbnail" src="assets/img/user/04.jpg" alt="user"></div>
                    <div class="h3">Irene Vasquez</div>
                    <p><em class="ion-briefcase mr-2"></em><small class="text-muted">Art director</small></p>
                </div>
                <p class="mt-3">Proin est sapien, convallis non hendrerit nec.</p>
                <p><em class="ion-email mr-2"></em>mail@contact.com</p>
                <p><em class="ion-email mr-2"></em>mail2@contact.com</p>
            </div>
            <div class="card-footer text-center">
                <button class="btn btn-sm btn-secondary" type="button"><em class="ion-email icon-lg icon-fw"></em></button>
                <button class="btn btn-sm btn-secondary" type="button"><em class="ion-social-facebook icon-lg icon-fw"></em></button>
                <button class="btn btn-sm btn-secondary" type="button"><em class="ion-social-twitter icon-lg icon-fw"></em></button>
                <button class="btn btn-sm btn-secondary" type="button"><em class="ion-social-skype icon-lg icon-fw"></em></button>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-block pb-0 clearfix">
                <!-- START dropdown-->
                <div dropdown class="float-right dropdown hidden-md-down">
                    <button class="btn btn-flat btn-flat-icon" type="button" dropdownToggle><em class="ion-android-more-horizontal"></em></button>
                    <div *dropdownMenu class="dropdown-menu dropdown-scale dropdown-menu-right" role="menu"><a class="dropdown-item" href="#">Call</a><a class="dropdown-item" href="#">Locate</a><a class="dropdown-item" href="#">Edit</a></div>
                </div>
                <!-- END dropdown-->
            </div>
            <div class="card-block pt-0">
                <div class="text-center">
                    <div class="mb-3"><img class="wd-sm rounded-circle img-thumbnail" src="assets/img/user/01.jpg" alt="user"></div>
                    <div class="h3">Addison Nichols</div>
                    <p><em class="ion-briefcase mr-2"></em><small class="text-muted">Art director</small></p>
                </div>
                <p class="mt-3">Proin est sapien, convallis non hendrerit nec, laoreet ut ipsum. Sed pharetra euismod dolor, id feugiat ante volutpat eget. Proin sed erat sit amet metus rhoncus tincidunt.</p>
            </div>
            <div class="card-footer text-center">
                <button class="btn btn-sm btn-secondary" type="button"><em class="ion-email icon-lg icon-fw"></em></button>
                <button class="btn btn-sm btn-secondary" type="button"><em class="ion-social-facebook icon-lg icon-fw"></em></button>
                <button class="btn btn-sm btn-secondary" type="button"><em class="ion-social-twitter icon-lg icon-fw"></em></button>
                <button class="btn btn-sm btn-secondary" type="button"><em class="ion-social-skype icon-lg icon-fw"></em></button>
            </div>
        </div>
    </div>
</div>
