extends ../core/core.layout.pug
block pagetitle
    - pageTitle = 'Forum'
block content
    .container-fluid

        .cardbox
            .cardbox-heading.pb-0
                .float-right
                    small Total topics: 5
                .cardbox-title Global Topics
                small Posts found: 15,000
            .p-2.bb
                .d-flex.align-items-center
                    .mr-auto
                    .d-flex.text-center
                        .wd-xxs
                            small.text-muted Views
                        .wd-xxs
                            small.text-muted Messages
            .p-2.bb
                .d-flex.align-items-center
                    .mr-4.ml-2.px-2.text-center.rounded.thumb32.lh32.bg-red-500
                        em.ion-ios-paper-outline.icon-lg
                    .mr-auto
                        p.mb-1: a(href="#") Rules
                        small Aenean dictum vulputate porta. Nulla eget lorem leo, sit amet elementum lorem.
                    .d-flex.text-center
                        .wd-xxs: span 12
                        .wd-xxs: span 45
            .p-2.bb
                .d-flex.align-items-center
                    .mr-4.ml-2.px-2.text-center.rounded.thumb32.lh32.bg-green-500
                        em.ion-ios-paper-outline.icon-lg
                    .mr-auto
                        p.mb-1: a(href="#") Pubic Announcements
                        small Donec malesuada ullamcorper nibh et venenatis. Integer imperdiet, turpis nec viverra egestas, magna sapien convallis velit, nec vestibulum turpis dui vel dui.
                    .d-flex.text-center
                        .wd-xxs: span 65
                        .wd-xxs: span 22
            .p-2.bb
                .d-flex.align-items-center
                    .mr-4.ml-2.px-2.text-center.rounded.thumb32.lh32.bg-cyan-500
                        em.ion-ios-paper-outline.icon-lg
                    .mr-auto
                        p.mb-1: a(href="#") Privacy
                        small Maecenas ornare libero eget eros imperdiet dictum.
                    .d-flex.text-center
                        .wd-xxs: span 351
                        .wd-xxs: span 100
            .p-2.bb
                .d-flex.align-items-center
                    .mr-4.ml-2.px-2.text-center.rounded.thumb32.lh32.bg-blue-500
                        em.ion-ios-paper-outline.icon-lg
                    .mr-auto
                        p.mb-1: a(href="#") Policy
                        small Curabitur nec congue erat.
                    .d-flex.text-center
                        .wd-xxs: span 1000
                        .wd-xxs: span 500
            .p-2.bb
                .d-flex.align-items-center
                    .mr-4.ml-2.px-2.text-center.rounded.thumb32.lh32.bg-purple-500
                        em.ion-ios-paper-outline.icon-lg
                    .mr-auto
                        p.mb-1: a(href="#") Latest News
                        small Curabitur nec congue erat.
                    .d-flex.text-center
                        .wd-xxs: span 995
                        .wd-xxs: span 265

        .cardbox
            .cardbox-heading.pb-0
                .float-right
                    small Total topics: 6
                .cardbox-title Dashboard Topics
                small Posts found: 47,000
            .p-2.bb
                .d-flex.align-items-center
                    .mr-3
                    .mr-auto
                    .d-flex.text-center
                        .wd-xxs
                            small.text-muted Views
                        .wd-xxs
                            small.text-muted Messages
            .p-2.bb
                .d-flex.align-items-center
                    .mr-4.ml-2.px-2.text-center.rounded.thumb32.lh32.bg-blue-500
                        em.ion-ios-paper-outline.icon-lg
                    .mr-auto
                        p.mb-1: a(href="#") Administration
                        small Aenean dictum vulputate porta. Nulla eget lorem leo, sit amet elementum lorem.
                    .d-flex.text-center
                        .wd-xxs: span 12
                        .wd-xxs: span 45
            .p-2.bb
                .d-flex.align-items-center
                    .mr-4.ml-2.px-2.text-center.rounded.thumb32.lh32.bg-orange-700
                        em.ion-ios-paper-outline.icon-lg
                    .mr-auto
                        p.mb-1: a(href="#") Single Page Application
                        small Donec malesuada ullamcorper nibh et venenatis. Integer imperdiet, turpis nec viverra egestas, magna sapien convallis velit, nec vestibulum turpis dui vel dui.
                    .d-flex.text-center
                        .wd-xxs: span 65
                        .wd-xxs: span 22
            .p-2.bb
                .d-flex.align-items-center
                    .mr-4.ml-2.px-2.text-center.rounded.thumb32.lh32.bg-blue-500
                        em.ion-ios-paper-outline.icon-lg
                    .mr-auto
                        p.mb-1: a(href="#") Network Security
                        small Maecenas ornare libero eget eros imperdiet dictum.
                    .d-flex.text-center
                        .wd-xxs: span 351
                        .wd-xxs: span 100
            .p-2.bb
                .d-flex.align-items-center
                    .mr-4.ml-2.px-2.text-center.rounded.thumb32.lh32.bg-pink-500
                        em.ion-ios-paper-outline.icon-lg
                    .mr-auto
                        p.mb-1: a(href="#") Isomorphic Apps
                        small Curabitur nec congue erat.
                    .d-flex.text-center
                        .wd-xxs: span 1000
                        .wd-xxs: span 500
            .p-2.bb
                .d-flex.align-items-center
                    .mr-4.ml-2.px-2.text-center.rounded.thumb32.lh32.bg-deep-purple-500
                        em.ion-ios-paper-outline.icon-lg
                    .mr-auto
                        p.mb-1: a(href="#") Latest Releases
                        small Curabitur nec congue erat.
                    .d-flex.text-center
                        .wd-xxs: span 995
                        .wd-xxs: span 265
            .p-2.bb
                .d-flex.align-items-center
                    .mr-4.ml-2.px-2.text-center.rounded.thumb32.lh32.bg-indigo-500
                        em.ion-ios-paper-outline.icon-lg
                    .mr-auto
                        p.mb-1: a(href="#") Known bugs
                        small Proin a porta turpis. Curabitur ultricies risus eget nulla commodo tempor.
                    .d-flex.text-center
                        .wd-xxs: span 9541
                        .wd-xxs: span 1547
