extends ../core/core.layout.pug
block pagetitle
    - pageTitle = 'Messages Board'
block content
    .container.container-md
        .row
            .col-md-4
                .cardbox
                    .cardbox-body.text-center
                        .mb-3
                            img.wd-sm.rounded-circle.img-thumbnail(src="img/user/04.jpg", alt="user")
                        .h3 Eleanor Harper
                        p eleanor.harper@myemail.com
                    .list-group.bb
                        a.list-group-item.active(href='#')
                            em.ion-home.mr-4
                            | Inbox
                            span.ml-auto.badge.badge-pill 35
                        a.list-group-item.list-group-item-action(href='#')
                            em.ion-trash-b.mr-4
                            | Trash
                        a.list-group-item.list-group-item-action(href='#')
                            em.ion-forward.mr-4
                            | Sent
                            span.ml-auto.badge.badge-pill.text-muted 2
                        a.list-group-item.list-group-item-action(href='#')
                            em.ion-help-buoy.mr-4
                            | Spam
                            span.ml-auto.badge.badge-pill.text-muted 10
                    .cardbox-body
                        button.btn.btn-success.btn-block#compose(type="button")
                            em.ion-edit.mr-2
                            | New message
            .col-md-8
                p.px Today
                .cardbox
                    table.table.table-hover.table-fixed.va-middle
                        tbody
                            tr.msg-display.clickable
                                td.wd-xxs
                                    .initial32.bg-blue-500 T
                                td.text-ellipsis.wd-sm Timmothy Terry
                                td.text-ellipsis Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris hendrerit nibh eu nisi congue dapibus.
                                td.wd-xxs
                                    // START dropdown
                                    .float-right.dropdown
                                        button.btn.btn-secondary.btn-flat.btn-flat-icon(type='button', data-toggle='dropdown')
                                            em.ion-android-more-vertical
                                        .dropdown-menu.dropdown-scale.dropdown-menu-right(role='menu')
                                            a.dropdown-item(href='#')
                                                em.ion-reply.icon-fw
                                                | Reply
                                            a.dropdown-item(href='#')
                                                em.ion-forward.icon-fw
                                                | Forward
                                            a.dropdown-item(href='#')
                                                em.ion-trash-a.icon-fw
                                                | Spam
                                    // END dropdown
                            tr.msg-display.clickable
                                td
                                    img.rounded-circle.thumb32(src="img/user/01.jpg", alt="user")
                                td.text-ellipsis Nathan Richardson
                                td.text-ellipsis Praesent leo quam, faucibus at facilisis id, rhoncus sit amet metus. Sed pretium malesuada leo sit amet convallis. Phasellus dolor velit, dictum a pulvinar eu, convallis a ante.
                                td
                                    // START dropdown
                                    .float-right.dropdown
                                        button.btn.btn-secondary.btn-flat.btn-flat-icon(type='button', data-toggle='dropdown')
                                            em.ion-android-more-vertical
                                        .dropdown-menu.dropdown-scale.dropdown-menu-right(role='menu')
                                            a.dropdown-item(href='#')
                                                em.ion-reply.icon-fw
                                                | Reply
                                            a.dropdown-item(href='#')
                                                em.ion-forward.icon-fw
                                                | Forward
                                            a.dropdown-item(href='#')
                                                em.ion-trash-a.icon-fw
                                                | Spam
                                    // END dropdown
                            tr.msg-display.clickable
                                td
                                    .initial32.bg-green-500 N
                                td.text-ellipsis Nina Brown
                                td.text-ellipsis Etiam eu ipsum dui, et tincidunt orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                                td
                                    // START dropdown
                                    .float-right.dropdown
                                        button.btn.btn-secondary.btn-flat.btn-flat-icon(type='button', data-toggle='dropdown')
                                            em.ion-android-more-vertical
                                        .dropdown-menu.dropdown-scale.dropdown-menu-right(role='menu')
                                            a.dropdown-item(href='#')
                                                em.ion-reply.icon-fw
                                                | Reply
                                            a.dropdown-item(href='#')
                                                em.ion-forward.icon-fw
                                                | Forward
                                            a.dropdown-item(href='#')
                                                em.ion-trash-a.icon-fw
                                                | Spam
                                    // END dropdown
                            tr.msg-display.clickable
                                td
                                    img.rounded-circle.thumb32(src="img/user/06.jpg", alt="user")
                                td.text-ellipsis Nathan Richardson
                                td.text-ellipsis Praesent leo quam, faucibus at facilisis id, rhoncus sit amet metus. Sed pretium malesuada leo sit amet convallis. Phasellus dolor velit, dictum a pulvinar eu, convallis a ante.
                                td
                                    // START dropdown
                                    .float-right.dropdown
                                        button.btn.btn-secondary.btn-flat.btn-flat-icon(type='button', data-toggle='dropdown')
                                            em.ion-android-more-vertical
                                        .dropdown-menu.dropdown-scale.dropdown-menu-right(role='menu')
                                            a.dropdown-item(href='#')
                                                em.ion-reply.icon-fw
                                                | Reply
                                            a.dropdown-item(href='#')
                                                em.ion-forward.icon-fw
                                                | Forward
                                            a.dropdown-item(href='#')
                                                em.ion-trash-a.icon-fw
                                                | Spam
                                    // END dropdown
                            tr.msg-display.clickable
                                td
                                    img.rounded-circle.thumb32(src="img/user/03.jpg", alt="user")
                                td.text-ellipsis Myrtle James
                                td.text-ellipsis Praesent leo quam, faucibus at facilisis id, rhoncus sit amet metus. Sed pretium malesuada leo sit amet convallis. Phasellus dolor velit, dictum a pulvinar eu, convallis a ante.
                                td
                                    // START dropdown
                                    .float-right.dropdown
                                        button.btn.btn-secondary.btn-flat.btn-flat-icon(type='button', data-toggle='dropdown')
                                            em.ion-android-more-vertical
                                        .dropdown-menu.dropdown-scale.dropdown-menu-right(role='menu')
                                            a.dropdown-item(href='#')
                                                em.ion-reply.icon-fw
                                                | Reply
                                            a.dropdown-item(href='#')
                                                em.ion-forward.icon-fw
                                                | Forward
                                            a.dropdown-item(href='#')
                                                em.ion-trash-a.icon-fw
                                                | Spam
                                    // END dropdown
                            tr.msg-display.clickable
                                td
                                    .initial32.bg-amber-500 T
                                td.text-ellipsis Ted Vasquez
                                td.text-ellipsis Praesent vel nisi nibh.Integer imperdiet, turpis nec viverra egestas, magna sapien convallis velit, nec vestibulum turpis dui vel dui.
                                td
                                    // START dropdown
                                    .float-right.dropdown
                                        button.btn.btn-secondary.btn-flat.btn-flat-icon(type='button', data-toggle='dropdown')
                                            em.ion-android-more-vertical
                                        .dropdown-menu.dropdown-scale.dropdown-menu-right(role='menu')
                                            a.dropdown-item(href='#')
                                                em.ion-reply.icon-fw
                                                | Reply
                                            a.dropdown-item(href='#')
                                                em.ion-forward.icon-fw
                                                | Forward
                                            a.dropdown-item(href='#')
                                                em.ion-trash-a.icon-fw
                                                | Spam
                                    // END dropdown
                            tr.msg-display.clickable
                                td
                                    .initial32.bg-pink-500 L
                                td.text-ellipsis Lillian Snyder
                                td.text-ellipsis Praesent vel nisi nibh.Integer imperdiet, turpis nec viverra egestas, magna sapien convallis velit, nec vestibulum turpis dui vel dui.
                                td
                                    // START dropdown
                                    .float-right.dropdown
                                        button.btn.btn-secondary.btn-flat.btn-flat-icon(type='button', data-toggle='dropdown')
                                            em.ion-android-more-vertical
                                        .dropdown-menu.dropdown-scale.dropdown-menu-right(role='menu')
                                            a.dropdown-item(href='#')
                                                em.ion-reply.icon-fw
                                                | Reply
                                            a.dropdown-item(href='#')
                                                em.ion-forward.icon-fw
                                                | Forward
                                            a.dropdown-item(href='#')
                                                em.ion-trash-a.icon-fw
                                                | Spam
                                    // END dropdown

                p.px Yesterday
                .cardbox
                    table.table.table-hover.table-fixed.va-middle
                        tbody
                            tr.msg-display.clickable
                                td.wd-xxs
                                    .initial32.bg-indigo-500 E
                                td.text-ellipsis.wd-sm Erin Alvarez
                                td.text-ellipsis Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras nunc velit, bibendum vel imperdiet eget, posuere nec diam.
                                td.wd-xxs
                                    // START dropdown
                                    .float-right.dropdown
                                        button.btn.btn-secondary.btn-flat.btn-flat-icon(type='button', data-toggle='dropdown')
                                            em.ion-android-more-vertical
                                        .dropdown-menu.dropdown-scale.dropdown-menu-right(role='menu')
                                            a.dropdown-item(href='#')
                                                em.ion-reply.icon-fw
                                                | Reply
                                            a.dropdown-item(href='#')
                                                em.ion-forward.icon-fw
                                                | Forward
                                            a.dropdown-item(href='#')
                                                em.ion-trash-a.icon-fw
                                                | Spam
                                    // END dropdown
                            tr.msg-display.clickable
                                td
                                    img.rounded-circle.thumb32(src="img/user/04.jpg", alt="user")
                                td.text-ellipsis Nathan Richardson
                                td.text-ellipsis Praesent leo quam, faucibus at facilisis id, rhoncus sit amet metus. Sed pretium malesuada leo sit amet convallis. Phasellus dolor velit, dictum a pulvinar eu, convallis a ante.
                                td
                                    // START dropdown
                                    .float-right.dropdown
                                        button.btn.btn-secondary.btn-flat.btn-flat-icon(type='button', data-toggle='dropdown')
                                            em.ion-android-more-vertical
                                        .dropdown-menu.dropdown-scale.dropdown-menu-right(role='menu')
                                            a.dropdown-item(href='#')
                                                em.ion-reply.icon-fw
                                                | Reply
                                            a.dropdown-item(href='#')
                                                em.ion-forward.icon-fw
                                                | Forward
                                            a.dropdown-item(href='#')
                                                em.ion-trash-a.icon-fw
                                                | Spam
                                    // END dropdown
                            tr.msg-display.clickable
                                td
                                    .initial32.bg-green-500 K
                                td.text-ellipsis Kelly Hernandez
                                td.text-ellipsis Integer sit amet vulputate mauris. Praesent nulla est, molestie at auctor vulputate, semper eu sapien. Fusce dolor lacus, interdum eu tincidunt sed, aliquet vel turpis.
                                td
                                    // START dropdown
                                    .float-right.dropdown
                                        button.btn.btn-secondary.btn-flat.btn-flat-icon(type='button', data-toggle='dropdown')
                                            em.ion-android-more-vertical
                                        .dropdown-menu.dropdown-scale.dropdown-menu-right(role='menu')
                                            a.dropdown-item(href='#')
                                                em.ion-reply.icon-fw
                                                | Reply
                                            a.dropdown-item(href='#')
                                                em.ion-forward.icon-fw
                                                | Forward
                                            a.dropdown-item(href='#')
                                                em.ion-trash-a.icon-fw
                                                | Spam
                                    // END dropdown
                            tr.msg-display.clickable
                                td
                                    img.rounded-circle.thumb32(src="img/user/06.jpg", alt="user")
                                td.text-ellipsis Nathan Richardson
                                td.text-ellipsis Praesent leo quam, faucibus at facilisis id, rhoncus sit amet metus. Sed pretium malesuada leo sit amet convallis. Phasellus dolor velit, dictum a pulvinar eu, convallis a ante.
                                td
                                    // START dropdown
                                    .float-right.dropdown
                                        button.btn.btn-secondary.btn-flat.btn-flat-icon(type='button', data-toggle='dropdown')
                                            em.ion-android-more-vertical
                                        .dropdown-menu.dropdown-scale.dropdown-menu-right(role='menu')
                                            a.dropdown-item(href='#')
                                                em.ion-reply.icon-fw
                                                | Reply
                                            a.dropdown-item(href='#')
                                                em.ion-forward.icon-fw
                                                | Forward
                                            a.dropdown-item(href='#')
                                                em.ion-trash-a.icon-fw
                                                | Spam
                                    // END dropdown
                            tr.msg-display.clickable
                                td
                                    img.rounded-circle.thumb32(src="img/user/05.jpg", alt="user")
                                td.text-ellipsis Oscar Stanley
                                td.text-ellipsis Praesent leo quam, faucibus at facilisis id, rhoncus sit amet metus. Sed pretium malesuada leo sit amet convallis. Phasellus dolor velit, dictum a pulvinar eu, convallis a ante.
                                td
                                    // START dropdown
                                    .float-right.dropdown
                                        button.btn.btn-secondary.btn-flat.btn-flat-icon(type='button', data-toggle='dropdown')
                                            em.ion-android-more-vertical
                                        .dropdown-menu.dropdown-scale.dropdown-menu-right(role='menu')
                                            a.dropdown-item(href='#')
                                                em.ion-reply.icon-fw
                                                | Reply
                                            a.dropdown-item(href='#')
                                                em.ion-forward.icon-fw
                                                | Forward
                                            a.dropdown-item(href='#')
                                                em.ion-trash-a.icon-fw
                                                | Spam
                                    // END dropdown

                p.px 2 days ago
                .cardbox
                    table.table.table-hover.table-fixed.va-middle
                        tbody
                            tr.msg-display.clickable
                                td.wd-xxs
                                    .initial32.bg-blue-500 T
                                td.text-ellipsis.wd-sm Timmothy Terry
                                td.text-ellipsis Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris hendrerit nibh eu nisi congue dapibus.
                                td.wd-xxs
                                    // START dropdown
                                    .float-right.dropdown
                                        button.btn.btn-secondary.btn-flat.btn-flat-icon(type='button', data-toggle='dropdown')
                                            em.ion-android-more-vertical
                                        .dropdown-menu.dropdown-scale.dropdown-menu-right(role='menu')
                                            a.dropdown-item(href='#')
                                                em.ion-reply.icon-fw
                                                | Reply
                                            a.dropdown-item(href='#')
                                                em.ion-forward.icon-fw
                                                | Forward
                                            a.dropdown-item(href='#')
                                                em.ion-trash-a.icon-fw
                                                | Spam
                                    // END dropdown
                            tr.msg-display.clickable
                                td
                                    img.rounded-circle.thumb32(src="img/user/01.jpg", alt="user")
                                td.text-ellipsis Nathan Richardson
                                td.text-ellipsis Praesent leo quam, faucibus at facilisis id, rhoncus sit amet metus. Sed pretium malesuada leo sit amet convallis. Phasellus dolor velit, dictum a pulvinar eu, convallis a ante.
                                td
                                    // START dropdown
                                    .float-right.dropdown
                                        button.btn.btn-secondary.btn-flat.btn-flat-icon(type='button', data-toggle='dropdown')
                                            em.ion-android-more-vertical
                                        .dropdown-menu.dropdown-scale.dropdown-menu-right(role='menu')
                                            a.dropdown-item(href='#')
                                                em.ion-reply.icon-fw
                                                | Reply
                                            a.dropdown-item(href='#')
                                                em.ion-forward.icon-fw
                                                | Forward
                                            a.dropdown-item(href='#')
                                                em.ion-trash-a.icon-fw
                                                | Spam
                                    // END dropdown
                            tr.msg-display.clickable
                                td
                                    .initial32.bg-green-500 N
                                td.text-ellipsis Nina Brown
                                td.text-ellipsis Etiam eu ipsum dui, et tincidunt orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                                td
                                    // START dropdown
                                    .float-right.dropdown
                                        button.btn.btn-secondary.btn-flat.btn-flat-icon(type='button', data-toggle='dropdown')
                                            em.ion-android-more-vertical
                                        .dropdown-menu.dropdown-scale.dropdown-menu-right(role='menu')
                                            a.dropdown-item(href='#')
                                                em.ion-reply.icon-fw
                                                | Reply
                                            a.dropdown-item(href='#')
                                                em.ion-forward.icon-fw
                                                | Forward
                                            a.dropdown-item(href='#')
                                                em.ion-trash-a.icon-fw
                                                | Spam
                                    // END dropdown
                            tr.msg-display.clickable
                                td
                                    img.rounded-circle.thumb32(src="img/user/06.jpg", alt="user")
                                td.text-ellipsis Nathan Richardson
                                td.text-ellipsis Praesent leo quam, faucibus at facilisis id, rhoncus sit amet metus. Sed pretium malesuada leo sit amet convallis. Phasellus dolor velit, dictum a pulvinar eu, convallis a ante.
                                td
                                    // START dropdown
                                    .float-right.dropdown
                                        button.btn.btn-secondary.btn-flat.btn-flat-icon(type='button', data-toggle='dropdown')
                                            em.ion-android-more-vertical
                                        .dropdown-menu.dropdown-scale.dropdown-menu-right(role='menu')
                                            a.dropdown-item(href='#')
                                                em.ion-reply.icon-fw
                                                | Reply
                                            a.dropdown-item(href='#')
                                                em.ion-forward.icon-fw
                                                | Forward
                                            a.dropdown-item(href='#')
                                                em.ion-trash-a.icon-fw
                                                | Spam
                                    // END dropdown
                            tr.msg-display.clickable
                                td
                                    img.rounded-circle.thumb32(src="img/user/03.jpg", alt="user")
                                td.text-ellipsis Myrtle James
                                td.text-ellipsis Praesent leo quam, faucibus at facilisis id, rhoncus sit amet metus. Sed pretium malesuada leo sit amet convallis. Phasellus dolor velit, dictum a pulvinar eu, convallis a ante.
                                td
                                    // START dropdown
                                    .float-right.dropdown
                                        button.btn.btn-secondary.btn-flat.btn-flat-icon(type='button', data-toggle='dropdown')
                                            em.ion-android-more-vertical
                                        .dropdown-menu.dropdown-scale.dropdown-menu-right(role='menu')
                                            a.dropdown-item(href='#')
                                                em.ion-reply.icon-fw
                                                | Reply
                                            a.dropdown-item(href='#')
                                                em.ion-forward.icon-fw
                                                | Forward
                                            a.dropdown-item(href='#')
                                                em.ion-trash-a.icon-fw
                                                | Spam
                                    // END dropdown
                            tr.msg-display.clickable
                                td
                                    .initial32.bg-amber-500 T
                                td.text-ellipsis Ted Vasquez
                                td.text-ellipsis Praesent vel nisi nibh.Integer imperdiet, turpis nec viverra egestas, magna sapien convallis velit, nec vestibulum turpis dui vel dui.
                                td
                                    // START dropdown
                                    .float-right.dropdown
                                        button.btn.btn-secondary.btn-flat.btn-flat-icon(type='button', data-toggle='dropdown')
                                            em.ion-android-more-vertical
                                        .dropdown-menu.dropdown-scale.dropdown-menu-right(role='menu')
                                            a.dropdown-item(href='#')
                                                em.ion-reply.icon-fw
                                                | Reply
                                            a.dropdown-item(href='#')
                                                em.ion-forward.icon-fw
                                                | Forward
                                            a.dropdown-item(href='#')
                                                em.ion-trash-a.icon-fw
                                                | Spam
                                    // END dropdown
                            tr.msg-display.clickable
                                td
                                    .initial32.bg-pink-500 L
                                td.text-ellipsis Lillian Snyder
                                td.text-ellipsis Praesent vel nisi nibh.Integer imperdiet, turpis nec viverra egestas, magna sapien convallis velit, nec vestibulum turpis dui vel dui.
                                td
                                    // START dropdown
                                    .float-right.dropdown
                                        button.btn.btn-secondary.btn-flat.btn-flat-icon(type='button', data-toggle='dropdown')
                                            em.ion-android-more-vertical
                                        .dropdown-menu.dropdown-scale.dropdown-menu-right(role='menu')
                                            a.dropdown-item(href='#')
                                                em.ion-reply.icon-fw
                                                | Reply
                                            a.dropdown-item(href='#')
                                                em.ion-forward.icon-fw
                                                | Forward
                                            a.dropdown-item(href='#')
                                                em.ion-trash-a.icon-fw
                                                | Spam
                                    // END dropdown

                .text-center
                    button.btn.btn-secondary(type="button") Load More...

block bodychild

    // Modal content example for messages
    .modal.modal-right.modal-auto-size.fade.modal-message(tabindex='-1', role='dialog')
        .modal-dialog
            .modal-content
                .modal-header
                    .media.m-0.py.fw
                        .d-flex.mr-3
                            a(href='javascript:')
                                img.rounded-circle.thumb64(src='img/user/04.jpg' alt='User')
                        .media-body.align-self-center
                            .h5 Patrick Brooks
                            span.text-muted patrick.brooks@mail.com
                        .align-items-end.align-self-center
                            .clickable(data-dismiss='modal')
                                sup: em.ion-close-round.text-muted.icon-2x
                .modal-body
                    // START dropdown
                    .float-right.dropdown
                        button.btn.btn-secondary.btn-flat.btn-flat-icon(type='button', data-toggle='dropdown')
                            em.ion-android-more-vertical
                        .dropdown-menu.dropdown-scale.dropdown-menu-right(role='menu')
                            a.dropdown-item(href='#')
                                em.ion-star.icon-fw
                                | Favorite
                            a.dropdown-item(href='#')
                                em.ion-ios-box.icon-fw
                                | Archive
                            a.dropdown-item(href='#', data-dismiss='modal')
                                em.ion-trash-a.icon-fw
                                | Discard
                    // END dropdown
                    p.text-muted 26 aug 2015 10:30 am
                    h4.mt-3 Nam vel tristique dolor.
                    .reader-block
                        p Praesent vel nisi nibh. Vestibulum purus ipsum, rutrum varius aliquam id, rhoncus eget neque. Curabitur sodales nisl eu enim suscipit eu faucibus dui mattis.
                        p Aenean risus nulla, aliquam sed aliquam vitae, ultricies non elit. Suspendisse nunc massa, euismod eu egestas quis, molestie sit amet mauris. Mauris eu lacus massa, vel condimentum lectus. Quisque quam justo, cursus sit amet pretium vel, viverra vel leo. Nullam lobortis consectetur hendrerit. Aenean rhoncus, est vel vestibulum tristique, ante lectus elementum augue, eu dictum turpis dui ut ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        p Pellentesque ac ligula varius nisl laoreet pretium quis quis tellus. Praesent et mauris lacus, non volutpat augue.
                .modal-footer
                    .d-flex.flex-column.fw
                        .p-2 Reply
                        .p-2
                            .media.m-0.py
                                .d-flex.mr-3
                                    a(href='#')
                                        img.rounded-circle.thumb32(src='img/user/01.jpg', alt='User')
                                .media-body
                                    form(action='')
                                        .form-group
                                            textarea.form-control(rows='3', aria-multiline='true', tabindex='0', aria-invalid='false', placeholder="Write here...")
                            button.btn.btn-success(type="button", data-dismiss='modal') Send
    // End Modal content example for messages

    // Modal content example for compose
    .modal.fade.modal-compose(tabindex='-1', role='dialog')
        .modal-dialog
            .modal-content
                .modal-body
                    form(action='')
                        .form-group
                            label To:
                            input.form-control(type="text")
                        .form-group
                            label Message
                            textarea.form-control(rows='3', aria-multiline='true', tabindex='0', aria-invalid='false')
                        button.btn.btn-success(type="button", data-dismiss='modal') Send
    // End Modal content example for compose
