extends ../core/core.layout.pug
block pagetitle
    - pageTitle = 'Pricing'
block content
    .container.container-md
        .row
            // PLAN
            .col-sm-4
                .cardbox.b
                    .p-2
                        .cardbox-body.bg-gradient-primary.text-center.text-white.rounded
                            em.ion-bag.icon-3x
                            .text-bold INITIAL
                    .cardbox-body
                        p.mb-3
                            em.ion-checkmark-round.mx-3
                            span Unlimited Styles
                        p.mb-3
                            em.ion-checkmark-round.mx-3
                            span RTL &amp; Translation
                        p.mb-3
                            em.ion-checkmark-round.mx-3
                            span Customer support
                        p.mb-3
                            em.ion-checkmark-round.mx-3
                            span Free Updates
                        p.mb-3
                            em.ion-checkmark-round.mx-3
                            span Limited to one client
                        p.mb-3
                            em.ion-checkmark-round.mx-3
                            span Multiple installation
                        p.mb-3
                            em.ion-checkmark-round.mx-3
                            span Not ready for resale
                    .cardbox-body.text-center
                        .h1.mb-4.text-primary.text-bold FREE
                        a.btn.btn-outline-primary(href="#") CHOOSE
            // PLAN
            .col-sm-4
                .cardbox.b
                    .p-2
                        .cardbox-body.bg-gradient-info.text-center.text-white.rounded
                            em.ion-bag.icon-3x
                            .text-bold ADVANCED
                    .cardbox-body
                        p.mb-3
                            em.ion-checkmark-round.mx-3
                            span Unlimited Styles
                        p.mb-3
                            em.ion-checkmark-round.mx-3
                            span RTL &amp; Translation
                        p.mb-3
                            em.ion-checkmark-round.mx-3
                            span Customer support
                        p.mb-3
                            em.ion-checkmark-round.mx-3
                            span Free Updates
                        p.mb-3
                            em.ion-checkmark-round.mx-3
                            span Limited to one client
                        p.mb-3
                            em.ion-checkmark-round.mx-3
                            span Multiple installation
                        p.mb-3
                            em.ion-checkmark-round.mx-3
                            span Not ready for resale
                    .cardbox-body.text-center
                        .mb-4.text-info
                            span.h1
                                small $
                                span.text-bold 30
                            small.text-muted / year
                        a.btn.btn-outline-info(href="#") CHOOSE
            // PLAN
            .col-sm-4
                .cardbox.b
                    .p-2
                        .cardbox-body.bg-gradient-success.text-center.text-white.rounded
                            em.ion-bag.icon-3x
                            .text-bold PREMIUM
                    .cardbox-body
                        p.mb-3
                            em.ion-checkmark-round.mx-3
                            span Unlimited Styles
                        p.mb-3
                            em.ion-checkmark-round.mx-3
                            span RTL &amp; Translation
                        p.mb-3
                            em.ion-checkmark-round.mx-3
                            span Customer support
                        p.mb-3
                            em.ion-checkmark-round.mx-3
                            span Free Updates
                        p.mb-3
                            em.ion-checkmark-round.mx-3
                            span Limited to one client
                        p.mb-3
                            em.ion-checkmark-round.mx-3
                            span Multiple installation
                        p.mb-3
                            em.ion-checkmark-round.mx-3
                            span Ready for resale*
                    .cardbox-body.text-center
                        .mb-4.text-success
                            span.h1
                                small $
                                span.text-bold 30
                            small.text-muted / year
                        a.btn.btn-outline-success(href="#") CHOOSE
        .mb-5
        .card-group
            // PLAN
            .card.b
                .card-block.text-center.bb.text-info
                    em.ion-heart.icon-2x
                    h1.my-4.text-bold
                        sup
                        span.text-lg FREE
                        span
                .card-block.text-center
                    p.mb-4
                        span Unlimited Styles
                    p.mb-4
                        span RTL &amp; Translation
                    p.mb-4
                        span: del Customer support
                    p.mb-4
                        span Free Updates
                    p.mb-4
                        span Limited to one client
                    p.mb-4
                        span: del Multiple installation
                    p.mb-4
                        span Not ready for resale
                .card-block.text-center.bt.text-info
                    a.btn.btn-info.btn-flat(href="#") CHOOSE
            // PLAN
            .card.b
                .card-block.text-center.bb.text-primary
                    em.ion-star.icon-2x
                    h1.my-4.text-bold
                        sup $
                        span.text-lg 17
                        small /mo
                .card-block.text-center
                    p.mb-4
                        span Unlimited Styles
                    p.mb-4
                        span RTL &amp; Translation
                    p.mb-4
                        span Customer support
                    p.mb-4
                        span Free Updates
                    p.mb-4
                        span Limited to one client
                    p.mb-4
                        span Multiple installation
                    p.mb-4
                        span Not ready for resale
                .card-block.text-center.bt
                    a.btn.btn-primary(href="#") RECOMMENDED
            // PLAN
            .card.b
                .card-block.text-center.bb.text-primary
                    em.ion-help-buoy.icon-2x
                    h1.my-4.text-bold
                        sup $
                        span.text-lg 49
                        small /mo
                .card-block.text-center
                    p.mb-4
                        span Unlimited Styles
                    p.mb-4
                        span RTL &amp; Translation
                    p.mb-4
                        span Customer support
                    p.mb-4
                        span Free Updates
                    p.mb-4
                        span Limited to one client
                    p.mb-4
                        span Multiple installation
                    p.mb-4
                        span Not ready for resale
                .card-block.text-center.bt.text-primary
                    a.btn.btn-primary.btn-flat(href="#") CHOOSE
            // PLAN
            .card.b
                .card-block.text-center.bb.text-danger
                    em.ion-wand.icon-2x
                    h1.my-4.text-bold
                        sup $
                        span.text-lg 95
                        small /mo
                .card-block.text-center
                    p.mb-4
                        span Unlimited Styles
                    p.mb-4
                        span RTL &amp; Translation
                    p.mb-4
                        span Customer support
                    p.mb-4
                        span Free Updates
                    p.mb-4
                        span Limited to one client
                    p.mb-4
                        span Multiple installation
                    p.mb-4
                        span Ready for resale*
                .card-block.text-center.bt
                    a.btn.btn-danger.btn-flat(href="#") CHOOSE
