extends ../core/core.layout.pug
block pagetitle
    - pageTitle = 'Datamaps'
block content
    .container-fluid
        .cardbox
            .cardbox-heading Customized Arc Map
            .cardbox-body
                #datamap-arc
        .cardbox.mb-3
            .cardbox-heading Basic Map
            .cardbox-body
                #datamap-basic

block vendor_js
    // Datamaps
    script(src='vendor/d3/d3.min.js')
    script(src='vendor/topojson/topojson.min.js')
    script(src='vendor/datamaps/dist/datamaps.all.js')
