/*!
 *
 * Dasha - Bootstrap Admin Template
 *
 * Version: 1.0.0
 * Author: @themicon_co
 * Website: http://themicon.co
 * License: https://wrapbootstrap.com/help/licenses
 *
 */

// Open Sans font from Google
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

@import 'bootstrap/reset.scss';
@import 'bootstrap/custom.scss';
@import 'common/animate.scss';
@import 'common/buttons-extra.scss';
@import 'common/dropdown-extra.scss';
@import 'common/grid-extra.scss';
@import 'common/material-colors.scss';
@import 'common/mixins.scss';
@import 'common/modal.scss';
@import 'common/containers.scss';
@import 'common/spinner.scss';
@import 'common/themes.scss';
@import 'common/typography.scss';
@import 'common/ui.note-area.scss';
@import 'common/ui.switch.scss';
@import 'common/cardbox.scss';

@import 'colors/colors.scss';
@import 'bootstrapui/datepicker.scss';
@import 'bootstrapui/typeahead.scss';

@import 'utils/utils.scss';
