<div class="container container-lg">
    <div class="row">
        <div class="col-sm-6">
            <div class="cardbox">
                <div class="pb-1 bg-gradient-warning"></div>
                <div class="cardbox-body">
                    <div class="d-flex">
                        <div>
                            <div class="lead mb-2">Arlene Marshall</div>
                            <p><em class="ion-ios-email-outline mr-2 icon-lg text-warning"></em><span>@marshall</span></p>
                            <button class="btn btn-warning" type="button">Follow</button>
                        </div>
                        <div class="ml-auto"><img class="shadow-z5 thumb80 rounded" src="assets/img/user/04.jpg" alt="user"></div>
                    </div>
                </div>
                <div class="cardbox-body">
                    <div class="row">
                        <div class="col">
                            <div class="text-muted">Comments</div>
                            <div class="h4"><strong>15000</strong></div>
                        </div>
                        <div class="col bl">
                            <div class="text-muted">Posts</div>
                            <div class="h4"><strong>300</strong></div>
                        </div>
                        <div class="col bl hidden-sm-down">
                            <div class="text-muted">Followers</div>
                            <div class="h4"><strong>4000</strong></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="cardbox">
                <div class="pb-1 bg-gradient-success"></div>
                <div class="cardbox-body">
                    <div class="d-flex">
                        <div>
                            <div class="lead mb-2">Charles West</div>
                            <p><em class="ion-ios-email-outline mr-2 icon-lg text-success"></em><span>@Charles</span></p>
                            <button class="btn btn-success" type="button">Follow</button>
                        </div>
                        <div class="ml-auto"><img class="shadow-z5 thumb80 rounded-circle" src="assets/img/user/05.jpg" alt="user"></div>
                    </div>
                </div>
                <div class="cardbox-body">
                    <div class="row text-center">
                        <div class="col">
                            <div class="text-muted">Comments</div>
                            <div class="h4"><strong>90900</strong></div>
                        </div>
                        <div class="col bl">
                            <div class="text-muted">Posts</div>
                            <div class="h4"><strong>700</strong></div>
                        </div>
                        <div class="col bl hidden-sm-down">
                            <div class="text-muted">Followers</div>
                            <div class="h4"><strong>5680</strong></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="cardbox">
                <div class="pb-1 bg-gradient-info"></div>
                <div class="cardbox-body">
                    <div class="d-flex">
                        <div class="mr-4"><img class="shadow-z5 thumb80 rounded" src="assets/img/user/07.jpg" alt="user"></div>
                        <div>
                            <div class="h3 my-2"><strong>Kelly Obrien</strong></div>
                            <p>Profile</p>
                        </div>
                        <div class="ml-auto">
                            <button class="btn btn-info" type="button">Contact</button>
                        </div>
                    </div>
                </div>
                <div class="cardbox-body"><small>Friends</small>
                    <div class="d-flex align-items-center"><img class="img-fluid thumb32 rounded mr-1" src="assets/img/user/04.jpg" alt="User"><img class="img-fluid thumb32 rounded mr-1" src="assets/img/user/05.jpg" alt="User"><img class="img-fluid thumb32 rounded mr-1" src="assets/img/user/06.jpg" alt="User"><img class="img-fluid thumb32 rounded mr-1" src="assets/img/user/03.jpg" alt="User"><strong class="thumb32 pt-1 rounded bg-blue-grey-500 text-center"><small>+10</small></strong></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="cardbox">
                <div class="pb-1 bg-gradient-primary"></div>
                <div class="cardbox-body">
                    <div class="d-flex">
                        <div class="mr-4"><img class="shadow-z5 thumb80 rounded" src="assets/img/user/06.jpg" alt="user"></div>
                        <div>
                            <div class="h3 my-2"><strong>Raul Palmer</strong></div>
                            <p>Profile</p>
                        </div>
                        <div class="ml-auto">
                            <button class="btn btn-primary" type="button">Contact</button>
                        </div>
                    </div>
                </div>
                <div class="cardbox-body"><small>Friends</small>
                    <div class="d-flex align-items-center"><img class="img-fluid thumb32 rounded mr-1" src="assets/img/user/04.jpg" alt="User"><img class="img-fluid thumb32 rounded mr-1" src="assets/img/user/05.jpg" alt="User"><img class="img-fluid thumb32 rounded mr-1" src="assets/img/user/06.jpg" alt="User"><img class="img-fluid thumb32 rounded mr-1" src="assets/img/user/03.jpg" alt="User"><strong class="thumb32 pt-1 rounded bg-blue-grey-500 text-center"><small>+5</small></strong>
                        <div class="ml-auto">
                            <button class="btn btn-sm btn-outline-danger" type="button">Invite</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="cardbox">
                <div class="cardbox-body">
                    <div class="h2 text-bold">1,590</div>
                    <div class="mb-2 text-muted"><small>Comments</small></div>
                    <div class="progress progress-xs mb-0">
                        <div class="progress-bar bg-success" style="width: 45%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="cardbox">
                <div class="cardbox-body">
                    <div class="h2 text-bold">15,350</div>
                    <div class="mb-2 text-muted"><small>Requests</small></div>
                    <div class="progress progress-xs mb-0">
                        <div class="progress-bar bg-warning" style="width: 45%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="cardbox color-indigo-400" style="border-left: 4px solid;">
                <div class="cardbox-body">
                    <div class="d-flex justify-content-start align-items-center">
                        <div>
                            <p class="mb-0">DESIGN</p><span class="text-muted">Nunc posuere as loca.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="cardbox color-blue-400" style="border-left: 4px solid;">
                <div class="cardbox-body">
                    <div class="d-flex justify-content-start align-items-center">
                        <div>
                            <p class="mb-0">DEVELOPMENT</p><span class="text-muted">Nunc posuere as loca.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="cardbox color-red-400" style="border-left: 4px solid;">
                <div class="cardbox-body">
                    <div class="d-flex justify-content-start align-items-center">
                        <div>
                            <p class="mb-0">CONCEPT</p><span class="text-muted">Nunc posuere as loca.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="cardbox">
                <div class="cardbox-body">
                    <div class="d-flex justify-content-start align-items-center">
                        <div>
                            <p class="mb-0"><small><em class="ion-record text-primary mr-2"></em></small>DEVELOPMENT</p><span class="text-muted">24 %</span>
                        </div>
                        <div class="ml-auto"><span peity [data]="dataLine1" [options]="optionsLine1" [type]="'line'"></span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="cardbox">
                <div class="cardbox-body">
                    <div class="d-flex justify-content-start align-items-center">
                        <div>
                            <p class="mb-0"><small><em class="ion-record text-success mr-2"></em></small>DESIGN</p><span class="text-muted">32 %</span>
                        </div>
                        <div class="ml-auto"><span peity [data]="dataLine2" [options]="optionsLine2" [type]="'line'"></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="cardbox">
                <div class="cardbox-body">
                    <div class="d-flex justify-content-start align-items-center">
                        <div>
                            <p>Training time</p><span class="text-bold">140 hs</span>
                        </div>
                        <div class="ml-auto"><span peity [data]="dataBar1" [options]="optionsBar1" [type]="'bar'"></span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="cardbox">
                <div class="cardbox-body">
                    <div class="d-flex justify-content-start align-items-center">
                        <div>
                            <p>Upgrade costs</p><span class="text-bold">$ 11,500</span>
                        </div>
                        <div class="ml-auto"><span peity [data]="dataBar2" [options]="optionsBar2" [type]="'bar'"></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="cardbox text-white bg-gradient-success b0">
                <div class="cardbox-body text-center">
                    <div class="text-bold display-1">1500</div>
                    <p class="text-bold">Coding hours</p><span peity [data]="dataLine3" [options]="optionsLine3" [type]="'line'"></span>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="cardbox text-white bg-gradient-primary b0">
                <div class="cardbox-body text-center">
                    <div class="text-bold display-1">730</div>
                    <p class="text-bold">Members</p><span peity [data]="dataLine3" [options]="optionsLine3" [type]="'line'"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="cardbox">
                <div class="cardbox-body text-center">
                    <p class="text-muted text-bold">Cups of Coffee</p>
                    <div class="text-bold display-1 text-success">150</div>
                </div>
                <div class="cardbox-footer">
                    <div class="d-flex justify-content-start align-items-center">
                        <div class="mr-auto"><em class="ion-arrow-up-b text-success mr-3 icon-lg"></em><span class="text-muted">12%</span></div>
                        <div class="ml-auto"><span peity [data]="dataLine2" [options]="optionsLine2" [type]="'line'"></span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="cardbox">
                <div class="cardbox-body text-center">
                    <p class="text-muted text-bold">Projects</p>
                    <div class="text-bold display-1 text-primary">125</div>
                </div>
                <div class="cardbox-footer">
                    <div class="d-flex justify-content-start align-items-center">
                        <div class="mr-auto"><em class="ion-arrow-up-b text-success mr-3 icon-lg"></em><span class="text-muted">7.8%</span></div>
                        <div class="ml-auto">
                            <div class="ml-auto"><span peity [data]="dataLine1" [options]="optionsLine1" [type]="'line'"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="cardbox">
                <div class="cardbox-body">
                    <p class="text-muted text-bold">Curabitur quis leo nulla.</p>
                    <p class="lead text-bold">150</p>
                    <div class="text-right"><em class="ion-arrow-up-b text-success mr-3"></em><span class="text-muted">12%</span></div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="cardbox">
                <div class="cardbox-body">
                    <p class="text-muted text-bold">Curabitur quis leo nulla.</p>
                    <p class="lead text-bold">125</p>
                    <div class="text-right"><em class="ion-arrow-down-b text-danger mr-3"></em><span class="text-muted">7.8%</span></div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="cardbox">
                <div class="cardbox-body">
                    <p class="text-muted text-bold">Curabitur quis leo nulla.</p>
                    <p class="lead text-bold">25</p>
                    <div class="text-right"><em class="ion-arrow-down-b text-danger mr-3"></em><span class="text-muted">2.6%</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="cardbox bb0">
                <div class="cardbox-body">
                    <p class="text-muted text-bold">Curabitur quis leo nulla.</p>
                    <p class="lead text-bold mb-0">150</p>
                </div>
                <div class="progress progress-xs mb-0 bg-transparent">
                    <div class="progress-bar bg-success" style="width: 25%;"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="cardbox bb0">
                <div class="cardbox-body">
                    <p class="text-muted text-bold">Curabitur quis leo nulla.</p>
                    <p class="lead text-bold mb-0">125</p>
                </div>
                <div class="progress progress-xs mb-0 bg-transparent">
                    <div class="progress-bar bg-info" style="width: 55%;"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="cardbox bb0">
                <div class="cardbox-body">
                    <p class="text-muted text-bold">Nunc fringilla eros et erat</p>
                    <p class="lead text-bold mb-0">1,550</p>
                </div>
                <div class="progress progress-xs mb-0 bg-transparent">
                    <div class="progress-bar bg-danger" style="width: 12%;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="cardbox">
                <div class="cardbox-body">
                    <div class="float-right"><em class="ion-arrow-graph-up-right text-success mr-3 icon-lg"></em></div>
                    <p class="text-bold">PROGRESS
                        <br><small class="text-muted">Evolution of price</small></p>
                    <p class="lead text-bold m-0">150</p>
                </div>
                <div class="cardbox-footer"><small>VARIATION 12%</small></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="cardbox">
                <div class="cardbox-body">
                    <div class="float-right"><em class="ion-arrow-graph-down-right text-warning mr-3 icon-lg"></em></div>
                    <p class="text-bold">PROGRESS
                        <br><small class="text-muted">Evolution of price</small></p>
                    <p class="lead text-bold m-0">125</p>
                </div>
                <div class="cardbox-footer"><small>VARIATION 7.8%</small></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="cardbox">
                <div class="cardbox-body">
                    <div class="float-right"><em class="ion-arrow-graph-up-right text-success mr-3 icon-lg"></em></div>
                    <p class="text-bold">PROGRESS
                        <br><small class="text-muted">Evolution of price</small></p>
                    <p class="lead text-bold m-0">25</p>
                </div>
                <div class="cardbox-footer"><small>VARIATION 2.6%</small></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="cardbox">
                <div class="cardbox-body">
                    <div class="d-flex justify-content-start align-items-center">
                        <div class="wd-xxs color-indigo-400"><em class="ion-social-facebook icon-3x icon-fw"></em></div>
                        <div>
                            <p class="lead mb-0">Facebook</p><span class="text-muted">Social share</span>
                        </div>
                        <div class="ml-auto"><a class="text-muted" href="#"><em class="ion-chevron-right"></em></a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="cardbox">
                <div class="cardbox-body">
                    <div class="d-flex justify-content-start align-items-center">
                        <div class="wd-xxs color-blue-400"><em class="ion-social-twitter icon-3x icon-fw"></em></div>
                        <div>
                            <p class="lead mb-0">Twitter</p><span class="text-muted">Social share</span>
                        </div>
                        <div class="ml-auto"><a class="text-muted" href="#"><em class="ion-chevron-right"></em></a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="cardbox">
                <div class="cardbox-body">
                    <div class="d-flex justify-content-start align-items-center">
                        <div class="wd-xxs"><em class="ion-social-github icon-3x icon-fw"></em></div>
                        <div>
                            <p class="lead mb-0">Github</p><span class="text-muted">Code share</span>
                        </div>
                        <div class="ml-auto"><a class="text-muted" href="#"><em class="ion-chevron-right"></em></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
