.modal-settings.modal.modal-right.fade(tabindex='-1', role='dialog')
    .modal-dialog.modal-lg
        .modal-content
            .modal-header
                h4.mt-0.modal-title
                    span Settings
                .float-right.clickable(data-dismiss='modal')
                    em.ion-close-round.text-soft
            .modal-body
                p Dark sidebar
                .d-flex.flex-wrap.mb-3
                    .setting-color
                        label.preview-theme-default
                            input(type='radio', checked, name='setting-theme', value='theme-default')
                            span.ion-checkmark-round
                            span.square24.b
                    .setting-color
                        label.preview-theme-2
                            input(type='radio', name='setting-theme', value='theme-2')
                            span.ion-checkmark-round
                            span.square24.b
                    .setting-color
                        label.preview-theme-3
                            input(type='radio', name='setting-theme', value='theme-3')
                            span.ion-checkmark-round
                            span.square24.b
                    .setting-color
                        label.preview-theme-4
                            input(type='radio', name='setting-theme', value='theme-4')
                            span.ion-checkmark-round
                            span.square24.b
                    .setting-color
                        label.preview-theme-5
                            input(type='radio', name='setting-theme', value='theme-5')
                            span.ion-checkmark-round
                            span.square24.b
                    .setting-color
                        label.preview-theme-6
                            input(type='radio', name='setting-theme', value='theme-6')
                            span.ion-checkmark-round
                            span.square24.b
                p White sidebar
                .d-flex.flex-wrap.mb-3
                    .setting-color
                        label.preview-theme-default
                            input(type='radio', name='setting-theme', value='theme-default-w')
                            span.ion-checkmark-round
                            span.square24.b
                    .setting-color
                        label.preview-theme-2
                            input(type='radio', name='setting-theme', value='theme-2-w')
                            span.ion-checkmark-round
                            span.square24.b
                    .setting-color
                        label.preview-theme-3
                            input(type='radio', name='setting-theme', value='theme-3-w')
                            span.ion-checkmark-round
                            span.square24.b
                    .setting-color
                        label.preview-theme-4
                            input(type='radio', name='setting-theme', value='theme-4-w')
                            span.ion-checkmark-round
                            span.square24.b
                    .setting-color
                        label.preview-theme-5
                            input(type='radio', name='setting-theme', value='theme-5-w')
                            span.ion-checkmark-round
                            span.square24.b
                    .setting-color
                        label.preview-theme-6
                            input(type='radio', name='setting-theme', value='theme-6-w')
                            span.ion-checkmark-round
                            span.square24.b
                p Sidebar Gradients
                .d-flex.flex-wrap.mb-3
                    .setting-color
                        label.preview-theme-gradient-1
                            input(type='radio', name='setting-theme', value='theme-gradient-sidebar-1')
                            span.ion-checkmark-round
                            span.square24.b
                    .setting-color
                        label.preview-theme-gradient-2
                            input(type='radio', name='setting-theme', value='theme-gradient-sidebar-2')
                            span.ion-checkmark-round
                            span.square24.b
                    .setting-color
                        label.preview-theme-gradient-3
                            input(type='radio', name='setting-theme', value='theme-gradient-sidebar-3')
                            span.ion-checkmark-round
                            span.square24.b
                    .setting-color
                        label.preview-theme-gradient-4
                            input(type='radio', name='setting-theme', value='theme-gradient-sidebar-4')
                            span.ion-checkmark-round
                            span.square24.b
                    .setting-color
                        label.preview-theme-gradient-5
                            input(type='radio', name='setting-theme', value='theme-gradient-sidebar-5')
                            span.ion-checkmark-round
                            span.square24.b
                    .setting-color
                        label.preview-theme-gradient-6
                            input(type='radio', name='setting-theme', value='theme-gradient-sidebar-6')
                            span.ion-checkmark-round
                            span.square24.b
                p Header Gradients
                .d-flex.flex-wrap.mb-3
                    .setting-color
                        label.preview-theme-gradient-1
                            input(type='radio', name='setting-theme', value='theme-gradient-header-1')
                            span.ion-checkmark-round
                            span.square24.b
                    .setting-color
                        label.preview-theme-gradient-2
                            input(type='radio', name='setting-theme', value='theme-gradient-header-2')
                            span.ion-checkmark-round
                            span.square24.b
                    .setting-color
                        label.preview-theme-gradient-3
                            input(type='radio', name='setting-theme', value='theme-gradient-header-3')
                            span.ion-checkmark-round
                            span.square24.b
                    .setting-color
                        label.preview-theme-gradient-4
                            input(type='radio', name='setting-theme', value='theme-gradient-header-4')
                            span.ion-checkmark-round
                            span.square24.b
                    .setting-color
                        label.preview-theme-gradient-5
                            input(type='radio', name='setting-theme', value='theme-gradient-header-5')
                            span.ion-checkmark-round
                            span.square24.b
                    .setting-color
                        label.preview-theme-gradient-6
                            input(type='radio', name='setting-theme', value='theme-gradient-header-6')
                            span.ion-checkmark-round
                            span.square24.b
                p Dark content
                .d-flex.flex-wrap.mb-3
                    .setting-color
                        label.preview-theme-dark
                            input(type='radio', name='setting-theme', value='theme-dark')
                            span.ion-checkmark-round
                            span.square24.b
                hr
                p
                    label.custom-control.custom-checkbox
                        input.custom-control-input#sidebar-cover(type='checkbox')
                        span.custom-control-indicator
                        span.custom-control-description Sidebar Cover
                p
                    label.custom-control.custom-checkbox
                        input.custom-control-input#sidebar-showtoolbar(type='checkbox', checked)
                        span.custom-control-indicator
                        span.custom-control-description Sidebar profile
                p
                    label.custom-control.custom-checkbox
                        input.custom-control-input#fixed-footer(type='checkbox')
                        span.custom-control-indicator
                        span.custom-control-description Fixed Footer
                hr
                button.btn.btn-secondary(type="button", data-toggle-fullscreen="") Toggle fullscreen
                hr
                p Change language
                // START Language list
                select.language-select.custom-select.form-control
                    option(value='en', selected='') English
                    option(value='es') Spanish
                    option(value='fr') French
                // END Language list
                .mt-3(data-localize="translate.EXAMPLE") This is an example text using English as selected language.
