<div class="container container-lg">
    <h3 class="display-4 mb-5 text-center">Dropzone</h3>
    <div class="mb-5">
        <p class="m-0 text-center">DropzoneJS is an open source library that provides drag&apos;n&apos;drop file uploads with image previews.</p>
        <p class="text-center">It’s lightweight, doesn’t depend on any other library (like jQuery) and is <a href="http://www.dropzonejs.com/" target="_blank">highly customizable</a></p>
    </div>
    <form #dropzoneArea class="dropzone mb-3 card d-flex flex-row justify-content-center flex-wrap" action="#">
        <div class="dropzone-previews"></div>
        <div class="text-right fw">
            <button class="btn btn-primary btn-lg btn-gradient" type="submit"><strong>Send</strong></button>
        </div>
    </form>
    <p><small class="text-muted">This demo does not upload files to any server.</small></p>
</div>
