.brand-header
    .float-left.pt-4.text-muted.sidebar-close
        em.ion-arrow-left-c.icon-lg
    a.brand-header-logo(href='#')
        // Logo Image
            img(src="img/logo.png", alt="logo")
        span.brand-header-logo-text Dasha
.sidebar-content
    .sidebar-toolbar
        .sidebar-toolbar-background
        .sidebar-toolbar-content.text-center
            a(href="#")
                img.rounded-circle.thumb64(src="img/user/01.jpg", alt="Profile")
            .mt-3
                .lead Jane Doe
                .text-thin California, CA
    nav.sidebar-nav
        ul
            li
                .sidebar-nav-heading MENU
            li
                a(href='dashboard.html')
                    span.float-right.nav-label
                    span.nav-icon
                        em.ion-ios-speedometer-outline
                    span Dashboard
            li
                a(href='widgets.html')
                    span.float-right.nav-label
                        span.badge-rounded.badge-primary !
                    span.nav-icon
                        em.ion-ios-box-outline
                    span Widgets
            li
                .sidebar-nav-heading COMPONENTS
            li
                a(href='#')
                    span.float-right.nav-caret
                        em.ion-ios-arrow-right
                    span.float-right.nav-label
                    span.nav-icon
                        em.ion-ios-settings
                    span Elements
                ul.sidebar-subnav#elements
                    li
                        a(href='buttons.html')
                            span.float-right.nav-label
                            span Buttons
                    li
                        a(href='bootstrapui.html')
                            span.float-right.nav-label
                            span Bootstrap
                    li
                        a(href='modals.html')
                            span.float-right.nav-label
                            span Modals
                    li
                        a(href='toaster.html')
                            span.float-right.nav-label
                            span Toaster
                    li
                        a( href='sweetalert.html')
                            span.float-right.nav-label
                            span Sweet Alert
                    li
                        a(href='spinners.html')
                            span.float-right.nav-label
                            span Spinners
                    li
                        a(href='nestable.html')
                            span.float-right.nav-label
                            span Nestable
                    li
                        a(href='grid.html')
                            span.float-right.nav-label
                            span Grid
                    li
                        a(href='grid-masonry.html')
                            span.float-right.nav-label
                            span Grid Masonry
                    li
                        a(href='typography.html')
                            span.float-right.nav-label
                            span Typography
                    li
                        a(href='icons.html')
                            span.float-right.nav-label
                            span Icons
                    li
                        a(href='utilities.html')
                            span.float-right.nav-label
                            span Utilities
                    li
                        a(href='colors.html')
                            span.float-right.nav-label
                            span Colors
            li
                a(href='#')
                    span.float-right.nav-caret
                        em.ion-ios-arrow-right
                    span.float-right.nav-label
                    span.nav-icon
                        em.ion-ios-gear-outline
                    span Forms
                ul.sidebar-subnav
                    li
                        a(href='forms.standard.html')
                            span.float-right.nav-label
                            span Standard
                    li
                        a(href='forms.advanced.html')
                            span.float-right.nav-label
                            span Advanced
                    li
                        a(href='validation.html')
                            span.float-right.nav-label
                            span Validation
                    li
                        a(href='dropzone.html')
                            span.float-right.nav-label
                            span Dropzone
                    li
                        a(href='summernote.html')
                            span.float-right.nav-label
                            span Summernote
                    li
                        a(href='wizard.html')
                            span.float-right.nav-label
                            span Wizard Steps
                    li
                        a(href='typeahead.html')
                            span.float-right.nav-label
                            span Typeahead
                    li
                        a(href='xeditable.html')
                            span.float-right.nav-label
                            span xEditable
            li
                a(href='#')
                    span.float-right.nav-caret
                        em.ion-ios-arrow-right
                    span.float-right.nav-label
                    span.nav-icon
                        em.ion-ios-list-outline
                    span Tables
                ul.sidebar-subnav#tables
                    li
                        a(href='tables.classic.html')
                            span.float-right.nav-label
                            span Classic
                    li
                        a(href='tables.responsive.html')
                            span.float-right.nav-label
                            span Responsive
                    li
                        a(href='datatable.html')
                            span.float-right.nav-label
                            span Datatable
                    li
                        a(href='footable.html')
                            span.float-right.nav-label
                            span FooTable
                    li
                        a(href='bootgrid.html')
                            span.float-right.nav-label
                            span Bootgrid
            li
                a(href='#')
                    span.float-right.nav-caret
                        em.ion-ios-arrow-right
                    span.float-right.nav-label
                    span.nav-icon
                        em.ion-ios-pulse
                    span Charts
                ul.sidebar-subnav
                    li
                        a(href='flot.html')
                            span.float-right.nav-label
                            span Flot
                    li
                        a(href='peity.html')
                            span.float-right.nav-label
                            span Peity
                    li
                        a(href='rickshaw.html')
                            span.float-right.nav-label
                            span Rickshaw
                    li
                        a(href='radial.html')
                            span.float-right.nav-label
                            span Radial
            li
                a(href='#')
                    span.float-right.nav-caret
                        em.ion-ios-arrow-right
                    span.float-right.nav-label
                    span.nav-icon
                        em.ion-ios-location-outline
                    span Maps
                ul.sidebar-subnav#maps
                    li
                        a(href='google-map.html')
                            span.float-right.nav-label
                            span Google Maps
                    li
                        a(href='datamaps.html')
                            span.float-right.nav-label
                            span Datamaps
                    li
                        a(href='vector-map.html')
                            span.float-right.nav-label
                            span Vector Maps
            li
                .sidebar-nav-heading MORE
            li
                a(href='#')
                    span.float-right.nav-caret
                        em.ion-ios-arrow-right
                    span.float-right.nav-label
                    span.nav-icon
                        em.ion-ios-person-outline
                    span User
                ul.sidebar-subnav#user
                    li
                        a(href='signin.html')
                            span.float-right.nav-label
                            span Signin
                    li
                        a(href='signup.html')
                            span.float-right.nav-label
                            span Signup
                    li
                        a(href='recover.html')
                            span.float-right.nav-label
                            span Recover
                    li
                        a(href='lock.html')
                            span.float-right.nav-label
                            span Lock
            li
                a(href='#')
                    span.float-right.nav-caret
                        em.ion-ios-arrow-right
                    span.float-right.nav-label
                    span.nav-icon
                        em.ion-ios-keypad-outline
                    span Pages
                ul.sidebar-subnav#pages
                    li
                        a(href='forum.html')
                            span.float-right.nav-label
                            span Forum
                    li
                        a(href='calendar.html')
                            span.float-right.nav-label
                            span Calendar
                    li
                        a(href='timeline.html')
                            span.float-right.nav-label
                            span Timeline
                    li
                        a(href='invoice.html')
                            span.float-right.nav-label
                            span Invoice
                    li
                        a(href='fullmap.html')
                            span.float-right.nav-label
                            span Fullmap
                    li
                        a(href='pricing.html')
                            span.float-right.nav-label
                            span Pricing
                    li
                        a(href='people.html')
                            span.float-right.nav-label
                            span People
                    li
                        a(href='contact.html')
                            span.float-right.nav-label
                            span Contact
                    li
                        a(href='wall.html')
                            span.float-right.nav-label
                            span Wall
                    li
                        a(href='mailbox.html')
                            span.float-right.nav-label
                            span Mailbox
                    li
                        a(href='#')
                            span.float-right.nav-caret
                                em.ion-ios-arrow-right
                            span.float-right.nav-label
                            span Errors
                        ul.sidebar-subnav#errors
                            li
                                a(href='error404.html')
                                    span.float-right.nav-label
                                    span 404
                            li
                                a(href='error403.html')
                                    span.float-right.nav-label
                                    span 403
                            li
                                a(href='error500.html')
                                    span.float-right.nav-label
                                    span 500
                            li
                                a(href='error503.html')
                                    span.float-right.nav-label
                                    span 503
