.modal.modal-top.fade.modal-search(tabindex='-1', role='dialog')
    .modal-dialog
        .modal-content
            .modal-body
                .modal-search-form
                    form(action="#")
                        .input-group
                            .input-group-btn
                                button.btn.btn-flat(type='button', data-dismiss='modal')
                                    em.ion-arrow-left-c.icon-lg.text-muted
                            input.form-control.header-input-search(type='text', placeholder='Search..')
