<div class="container-overlap bg-gradient-primary"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-3 col-md-4">
            <div class="cardbox">
                <div class="cardbox-body">
                    <!-- START dropdown-->
                    <div class="float-right dropdown" dropdown>
                        <button class="btn btn-secondary btn-flat btn-flat-icon" type="button" dropdownToggle><em class="ion-android-more-horizontal"></em></button>
                        <div *dropdownMenu class="dropdown-menu dropdown-scale dropdown-menu-right" role="menu"><a class="dropdown-item" href="javascript:">Private Message</a><a class="dropdown-item" href="javascript:">Stop following</a>
                            <div class="dropdown-divider" role="separator"></div><a class="dropdown-item" href="javascript:">Report</a>
                        </div>
                    </div>
                    <!-- END dropdown-->
                </div>
                <div class="cardbox-body text-center">
                    <div class="mb-3"><img class="wd-sm rounded-circle img-thumbnail" src="assets/img/user/04.jpg" alt="user"></div>
                    <div class="h3">Eleanor Harper</div>
                    <p>eleanor.harper@myemail.com</p>
                </div>
                <div class="cardbox-body">
                    <div class="row text-center">
                        <div class="col">
                            <h3 class="mt-0 text-bold">5,5k</h3><small>Followers</small>
                        </div>
                        <div class="col">
                            <h3 class="mt-0 text-bold">390</h3><small>Following</small>
                        </div>
                        <div class="col">
                            <h3 class="mt-0 text-bold">90</h3><small>Posts</small>
                        </div>
                    </div>
                </div>
                <div class="cardbox-body">
                    <p><strong>About</strong></p>
                    <p>Maecenas arcu augue, lobortis nec dictum eget, varius a tortor. Maecenas tellus mauris, vestibulum nec sagittis dignissim, malesuada at ante. </p>
                </div>
                <div class="cardbox-body">
                    <button class="btn btn-info btn-block" id="compose" type="button">Connect</button>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-md-8">
            <div class="cardbox">
                <div class="cardbox-body">
                    <form class="mt-3" action="">
                        <div class="form-group">
                            <label>What's on your mind?</label>
                            <div class="input-group">
                                <input class="form-control fw" type="text"><span class="input-group-btn bl">
                            <button class="btn btn-secondary border-0" type="button"><em class="ion-chevron-right text-success"></em></button></span>
                            </div>
                            <div class="text-right"><small>Any message here</small></div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Inner card-->
            <div class="cardbox">
                <div class="cardbox-heading">
                    <!-- START dropdown-->
                    <div class="float-right dropdown" dropdown>
                        <button class="btn btn-secondary btn-flat btn-flat-icon" type="button" dropdownToggle><em class="ion-android-more-horizontal"></em></button>
                        <div *dropdownMenu class="dropdown-menu dropdown-scale dropdown-menu-right" role="menu"><a class="dropdown-item" href="javascript:">Hide post</a><a class="dropdown-item" href="javascript:">Stop following</a>
                            <div class="dropdown-divider" role="separator"></div><a class="dropdown-item" href="javascript:">Report</a>
                        </div>
                    </div>
                    <!-- END dropdown-->
                    <div class="media m-0">
                        <div class="d-flex mr-3">
                            <a href="javascript:"><img class="rounded-circle thumb48" src="assets/img/user/06.jpg" alt="User"></a>
                        </div>
                        <div class="media-body p-2">
                            <p class="m-0 text-bold">Stephen Palmer</p><small class="text-muted"><em class="ion-earth text-muted mr-2"></em><span>2 hours</span></small>
                        </div>
                    </div>
                    <div class="p">Ut egestas consequat faucibus. Donec id lectus tortor. Maecenas at porta purus. Etiam feugiat risus massa. Vivamus fermentum libero vel felis aliquet interdum. </div>
                </div>
                <div class="cardbox-footer">
                    <button class="btn btn-flat btn-primary" type="button"><em class="ion-thumbsup icon-lg"></em></button>
                    <button class="btn btn-flat btn-primary" type="button"><em class="ion-happy-outline icon-lg"></em></button>
                    <button class="btn btn-flat btn-primary" type="button"><em class="ion-chatbubbles icon-lg"></em></button>
                </div>
            </div>
            <!-- Inner card-->
            <div class="cardbox">
                <div class="cardbox-heading">
                    <!-- START dropdown-->
                    <div class="float-right dropdown" dropdown>
                        <button class="btn btn-secondary btn-flat btn-flat-icon" type="button" dropdownToggle><em class="ion-android-more-horizontal"></em></button>
                        <div *dropdownMenu class="dropdown-menu dropdown-scale dropdown-menu-right" role="menu"><a class="dropdown-item" href="javascript:">Hide post</a><a class="dropdown-item" href="javascript:">Stop following</a>
                            <div class="dropdown-divider" role="separator"></div><a class="dropdown-item" href="javascript:">Report</a>
                        </div>
                    </div>
                    <!-- END dropdown-->
                    <div class="media m-0">
                        <div class="d-flex mr-3">
                            <a href="javascript:"><img class="rounded-circle thumb48" src="assets/img/user/05.jpg" alt="User"></a>
                        </div>
                        <div class="media-body p-2">
                            <p class="m-0 text-bold">Ricky Wagner</p><small class="text-muted"><em class="ion-earth text-muted mr-2"></em><span>10 hours</span></small>
                        </div>
                    </div>
                </div>
                <div class="cardbox-item"><img class="fw img-fluid" src="assets/img/pic6.jpg" alt="MaterialImg">
                    <div class="cardbox-item-text bg-transparent">
                        <p>In lacinia tellus vitae nisl consectetur pellentesque.</p>
                    </div>
                </div>
                <div class="cardbox-footer">
                    <button class="btn btn-flat btn-primary" type="button"><em class="ion-thumbsup icon-lg"></em></button>
                    <button class="btn btn-flat btn-primary" type="button"><em class="ion-happy-outline icon-lg"></em></button>
                    <button class="btn btn-flat btn-primary" type="button"><em class="ion-chatbubbles icon-lg"></em></button>
                </div>
            </div>
            <!-- Inner card-->
            <div class="cardbox reader-block">
                <div class="cardbox-heading">
                    <!-- START dropdown-->
                    <div class="float-right dropdown" dropdown>
                        <button class="btn btn-secondary btn-flat btn-flat-icon" type="button" dropdownToggle><em class="ion-android-more-horizontal"></em></button>
                        <div *dropdownMenu class="dropdown-menu dropdown-scale dropdown-menu-right" role="menu"><a class="dropdown-item" href="javascript:">Hide post</a><a class="dropdown-item" href="javascript:">Stop following</a>
                            <div class="dropdown-divider" role="separator"></div><a class="dropdown-item" href="javascript:">Report</a>
                        </div>
                    </div>
                    <!-- END dropdown-->
                    <div class="media m-0">
                        <div class="d-flex mr-3">
                            <a href="javascript:"><img class="rounded-circle thumb48" src="assets/img/user/06.jpg" alt="User"></a>
                        </div>
                        <div class="media-body p-2">
                            <p class="m-0 text-bold">Stephen Palmer</p><small class="text-muted"><em class="ion-earth text-muted mr-2"></em><span>Yesterday</span></small>
                        </div>
                    </div>
                    <div class="p">
                        <div class="mb-3">Donec a purus auctor dui hendrerit accumsan non quis augue nisl sed iaculis.</div>
                        <a href="javascript:"><img class="mr-2 thumb48" src="assets/img/pic1.jpg" alt="Pic"></a>
                        <a href="javascript:"><img class="mr-2 thumb48" src="assets/img/pic2.jpg" alt="Pic"></a>
                        <a href="javascript:"><img class="mr-2 thumb48" src="assets/img/pic3.jpg" alt="Pic"></a>
                        <a href="javascript:"><img class="mr-2 thumb48" src="assets/img/pic4.jpg" alt="Pic"></a>
                    </div>
                </div>
                <div class="cardbox-footer">
                    <button class="btn btn-flat btn-primary" type="button"><em class="ion-thumbsup icon-lg"></em></button>
                    <button class="btn btn-flat btn-primary" type="button"><em class="ion-happy-outline icon-lg"></em></button>
                    <button class="btn btn-flat btn-primary" type="button"><em class="ion-chatbubbles icon-lg"></em></button>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-12">
            <div class="push-down"></div>
            <div class="cardbox cardbox-transparent">
                <h5 class="cardbox-heading">Contacts</h5>
                <div class="list-group">
                    <div class="list-group-item flex-column align-items-start border-0">
                        <div class="d-flex">
                            <div class="mr-4"><img class="thumb48 rounded-circle" src="assets/img/user/01.jpg" alt="List user"></div>
                            <div>
                                <div class="lead"><a href="javascript:">Eric Graves</a></div>
                                <div class="text-muted text-ellipsis">Ut ac nisi id mauris</div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item flex-column align-items-start border-0">
                        <div class="d-flex">
                            <div class="mr-4"><img class="thumb48 rounded-circle" src="assets/img/user/02.jpg" alt="List user"></div>
                            <div>
                                <div class="lead"><a href="javascript:">Becky Mills</a></div>
                                <div class="text-muted text-ellipsis">Sed laoreet arcu pharetra.</div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item flex-column align-items-start border-0">
                        <div class="d-flex">
                            <div class="mr-4"><img class="thumb48 rounded-circle" src="assets/img/user/03.jpg" alt="List user"></div>
                            <div>
                                <div class="lead"><a href="javascript:">Ronald Gutierrez</a></div>
                                <div class="text-muted text-ellipsis">Ut ac nisi id mauris</div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item flex-column align-items-start border-0">
                        <div class="d-flex">
                            <div class="mr-4"><img class="thumb48 rounded-circle" src="assets/img/user/04.jpg" alt="List user"></div>
                            <div>
                                <div class="lead"><a href="javascript:">Johnny Bowman</a></div>
                                <div class="text-muted text-ellipsis">Ut ac nisi id mauris</div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item flex-column align-items-start border-0">
                        <div class="d-flex">
                            <div class="mr-4"><img class="thumb48 rounded-circle" src="assets/img/user/05.jpg" alt="List user"></div>
                            <div>
                                <div class="lead"><a href="javascript:">Carter Sims</a></div>
                                <div class="text-muted text-ellipsis">Sed laoreet arcu pharetra.</div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item flex-column align-items-start border-0">
                        <div class="d-flex">
                            <div class="mr-4"><img class="thumb48 rounded-circle" src="assets/img/user/06.jpg" alt="List user"></div>
                            <div>
                                <div class="lead"><a href="javascript:">Allen Olson</a></div>
                                <div class="text-muted text-ellipsis">Ut ac nisi id mauris</div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item flex-column align-items-start border-0">
                        <div class="d-flex">
                            <div class="mr-4"><img class="thumb48 rounded-circle" src="assets/img/user/07.jpg" alt="List user"></div>
                            <div>
                                <div class="lead"><a href="javascript:">Keith Gutierrez</a></div>
                                <div class="text-muted text-ellipsis">Sed laoreet arcu pharetra.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
