/**
 * Timeline
 */

@import '../../../shared/styles/common/variables';
@import '../../../shared/styles/common/mixins';

// Timeline container
.timeline {
    list-style: none;
    padding: 0 0 20px;
    position: relative;
    z-index: 0;

    // Timeline central line
    &:before {
        position: absolute;
        top: 0;
        bottom: 0;
        content: " ";
        width: 1px;
        border-left: 1px dashed rgba($gray-base,.36);
        left: $timeline-badge-size / 2;
    }
    // clear all float element using a last item
    .timeline-end {
        float: none;
        clear: both;
    }
    // Timeline list itmes
    // --------------------------------
    > li {
        @include clearfix();
        margin-bottom: 20px;

        &.timeline-separator {
            position: relative;
            float: none;
            clear: both;
            margin: 0 auto;
            padding: 40px 0;

            &:first-child {
                padding-top: 0;
            }
            &:before {
                content: attr(data-datetime);
                display: inline-block;
                width: $timeline-separator-width;
                text-align: center;
                padding: 0 20px;
                line-height: 30px;
                background-color: $gray-light;
                border-radius: 2px;
                color: #fff;
            }
        }
    }
    // Timeline panel
    // --------------------------------
    > li > .timeline-panel {
        margin-left: $timeline-separator-width / 3;

    }
    // Timeline Date
    // --------------------------------
    > li > .timeline-date {
        margin: -$timeline-datetime-height 0 0;
        display: block;
        height: $timeline-datetime-height;
        line-height: $timeline-datetime-height;
        font-size: 13px;

        > time {
            &:after {
                content: attr(datetime);
            }
        }
    }
    // Timeline badges
    // --------------------------------
    > li > .timeline-badge {
        position: absolute;
        left: 0;
        width: $timeline-badge-size;
        height: $timeline-badge-size;
        border-radius: 50%;
        line-height: $timeline-badge-size;
        font-size: 1.2em;
        text-align: center;
        color: #fff;
        z-index: 100;
    }
}

// Timeline title
// --------------------------------
.timeline-title {
    margin-top: 0;
    color: inherit;
}
// Timeline Body
// --------------------------------
.timeline-body > p, .timeline-body > ul {
    margin-bottom: 0;
}
.timeline-body > p + p {
    margin-top: 5px;
}
