extends ../core/core.layout.pug
block pagetitle
    - pageTitle = 'Grid Masonry'
block content

    .container.container-md
        p
            strong.mr-1 Cards
            | can be organized into Masonry-like columns with just CSS by wrapping them in
            code .card-columns.
            | Cards are built with CSS column properties instead of flexbox for easier alignment. Cards are ordered from top to bottom and left to right.
        .card-columns
            .card.mb-4
                img.card-img-top.img-fluid(src='img/pic1.jpg' alt='Card image cap')
                .card-block
                    h4.card-title Card title that wraps to a new line
                    p.card-text
                        | This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
            .card.p-3.mb-4
                blockquote.card-block.card-blockquote
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                    footer
                        small.text-muted
                            | Someone famous in
                            cite(title='Source Title') Source Title
            .card.mb-4
                img.card-img-top.img-fluid(src='img/pic2.jpg' alt='Card image cap')
                .card-block
                    h4.card-title Card title
                    p.card-text This card has supporting text below as a natural lead-in to additional content.
                    p.card-text
                        small.text-muted Last updated 3 mins ago
            .card.card-inverse.bg-gradient-info.p-3.text-center.mb-4.border-0
                blockquote.card-blockquote
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.
                    footer
                        small
                            | Someone famous in
                            cite(title='Source Title') Source Title
            .card.text-center.mb-4
                .card-block
                    h4.card-title Card title
                    p.card-text This card has supporting text below as a natural lead-in to additional content.
                    p.card-text
                        small.text-muted Last updated 3 mins ago
            .card.mb-4
                img.card-img.img-fluid(src='img/pic3.jpg' alt='Card image')
            .card.p-3.text-right.mb-4
                blockquote.card-blockquote
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                    footer
                        small.text-muted
                            | Someone famous in
                            cite(title='Source Title') Source Title
            .card.mb-4
                .card-block
                    h4.card-title Card title
                    p.card-text
                        | This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
                    p.card-text
                        small.text-muted Last updated 3 mins ago
            .card.mb-4
                img.card-img-top.img-fluid(src='img/pic1.jpg' alt='Card image cap')
                .card-block
                    h4.card-title Card title that wraps to a new line
                    p.card-text
                        | This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
            .card.card-inverse.card-primary.p-3.text-center.mb-4
                blockquote.card-blockquote
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.
                    footer
                        small
                            | Someone famous in
                            cite(title='Source Title') Source Title
            .card.mb-4
                img.card-img-top.img-fluid(src='img/pic4.jpg' alt='Card image cap')

            .card.card-inverse.bg-gradient-danger.p-3.text-center.mb-4
                blockquote.card-blockquote
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.
                    footer
                        small
                            | Someone famous in
                            cite(title='Source Title') Source Title