extends ../core/core.layout.pug
block pagetitle
    - pageTitle = 'Icons'
block content
    .container.container-md
        .text-center
            h4.text-info
                a.text-info(href="//ionicons.com/", target="_blank"): em.ion-ionic.icon-2x
                br
                | ionicons
            p The premium icon font for Ionic Framework. 100% free and open source. MIT Licensed.
        ul.icons-list
            li.ion-ionic(data-pack='default')
            li.ion-arrow-up-a(data-pack='default')
            li.ion-arrow-right-a(data-pack='default')
            li.ion-arrow-down-a(data-pack='default')
            li.ion-arrow-left-a(data-pack='default')
            li.ion-arrow-up-b(data-pack='default')
            li.ion-arrow-right-b(data-pack='default')
            li.ion-arrow-down-b(data-pack='default')
            li.ion-arrow-left-b(data-pack='default')
            li.ion-arrow-up-c(data-pack='default')
            li.ion-arrow-right-c(data-pack='default')
            li.ion-arrow-down-c(data-pack='default')
            li.ion-arrow-left-c(data-pack='default')
            li.ion-arrow-return-right(data-pack='default')
            li.ion-arrow-return-left(data-pack='default')
            li.ion-arrow-swap(data-pack='default')
            li.ion-arrow-shrink(data-pack='default')
            li.ion-arrow-expand(data-pack='default')
            li.ion-arrow-move(data-pack='default')
            li.ion-arrow-resize(data-pack='default')
            li.ion-chevron-up(data-pack='default')
            li.ion-chevron-right(data-pack='default')
            li.ion-chevron-down(data-pack='default')
            li.ion-chevron-left(data-pack='default')
            li.ion-navicon-round(data-pack='default')
            li.ion-navicon(data-pack='default')
            li.ion-drag(data-pack='default')
            li.ion-log-in(data-pack='default')
            li.ion-log-out(data-pack='default')
            li.ion-checkmark-round(data-pack='default')
            li.ion-checkmark(data-pack='default')
            li.ion-checkmark-circled(data-pack='default')
            li.ion-close-round(data-pack='default')
            li.ion-close(data-pack='default')
            li.ion-close-circled(data-pack='default')
            li.ion-plus-round(data-pack='default')
            li.ion-plus(data-pack='default')
            li.ion-plus-circled(data-pack='default')
            li.ion-minus-round(data-pack='default')
            li.ion-minus(data-pack='default')
            li.ion-minus-circled(data-pack='default')
            li.ion-information(data-pack='default')
            li.ion-information-circled(data-pack='default')
            li.ion-help(data-pack='default')
            li.ion-help-circled(data-pack='default')
            li.ion-backspace-outline(data-pack='default')
            li.ion-backspace(data-pack='default')
            li.ion-help-buoy(data-pack='default')
            li.ion-asterisk(data-pack='default')
            li.ion-alert(data-pack='default')
            li.ion-alert-circled(data-pack='default')
            li.ion-refresh(data-pack='default')
            li.ion-loop(data-pack='default')
            li.ion-shuffle(data-pack='default')
            li.ion-home(data-pack='default')
            li.ion-search(data-pack='default')
            li.ion-flag(data-pack='default')
            li.ion-star(data-pack='default')
            li.ion-heart(data-pack='default')
            li.ion-heart-broken(data-pack='default')
            li.ion-gear-a(data-pack='default')
            li.ion-gear-b(data-pack='default')
            li.ion-toggle-filled(data-pack='default')
            li.ion-toggle(data-pack='default')
            li.ion-settings(data-pack='default')
            li.ion-wrench(data-pack='default')
            li.ion-hammer(data-pack='default')
            li.ion-edit(data-pack='default')
            li.ion-trash-a(data-pack='default')
            li.ion-trash-b(data-pack='default')
            li.ion-document(data-pack='default')
            li.ion-document-text(data-pack='default')
            li.ion-clipboard(data-pack='default')
            li.ion-scissors(data-pack='default')
            li.ion-funnel(data-pack='default')
            li.ion-bookmark(data-pack='default')
            li.ion-email(data-pack='default')
            li.ion-email-unread(data-pack='default')
            li.ion-folder(data-pack='default')
            li.ion-filing(data-pack='default')
            li.ion-archive(data-pack='default')
            li.ion-reply(data-pack='default')
            li.ion-reply-all(data-pack='default')
            li.ion-forward(data-pack='default')
            li.ion-share(data-pack='default')
            li.ion-paper-airplane(data-pack='default')
            li.ion-link(data-pack='default')
            li.ion-paperclip(data-pack='default')
            li.ion-compose(data-pack='default')
            li.ion-briefcase(data-pack='default')
            li.ion-medkit(data-pack='default')
            li.ion-at(data-pack='default')
            li.ion-pound(data-pack='default')
            li.ion-quote(data-pack='default')
            li.ion-cloud(data-pack='default')
            li.ion-upload(data-pack='default')
            li.ion-more(data-pack='default')
            li.ion-grid(data-pack='default')
            li.ion-calendar(data-pack='default')
            li.ion-clock(data-pack='default')
            li.ion-compass(data-pack='default')
            li.ion-pinpoint(data-pack='default')
            li.ion-pin(data-pack='default')
            li.ion-navigate(data-pack='default')
            li.ion-location(data-pack='default')
            li.ion-map(data-pack='default')
            li.ion-lock-combination(data-pack='default')
            li.ion-locked(data-pack='default')
            li.ion-unlocked(data-pack='default')
            li.ion-key(data-pack='default')
            li.ion-arrow-graph-up-right(data-pack='default')
            li.ion-arrow-graph-down-right(data-pack='default')
            li.ion-arrow-graph-up-left(data-pack='default')
            li.ion-arrow-graph-down-left(data-pack='default')
            li.ion-stats-bars(data-pack='default')
            li.ion-connection-bars(data-pack='default')
            li.ion-pie-graph(data-pack='default')
            li.ion-chatbubble(data-pack='default')
            li.ion-chatbubble-working(data-pack='default')
            li.ion-chatbubbles(data-pack='default')
            li.ion-chatbox(data-pack='default')
            li.ion-chatbox-working(data-pack='default')
            li.ion-chatboxes(data-pack='default')
            li.ion-person(data-pack='default')
            li.ion-person-add(data-pack='default')
            li.ion-person-stalker(data-pack='default')
            li.ion-woman(data-pack='default')
            li.ion-man(data-pack='default')
            li.ion-female(data-pack='default')
            li.ion-male(data-pack='default')
            li.ion-transgender(data-pack='default')
            li.ion-fork(data-pack='default')
            li.ion-knife(data-pack='default')
            li.ion-spoon(data-pack='default')
            li.ion-soup-can-outline(data-pack='default')
            li.ion-soup-can(data-pack='default')
            li.ion-beer(data-pack='default')
            li.ion-wineglass(data-pack='default')
            li.ion-coffee(data-pack='default')
            li.ion-icecream(data-pack='default')
            li.ion-pizza(data-pack='default')
            li.ion-power(data-pack='default')
            li.ion-mouse(data-pack='default')
            li.ion-battery-full(data-pack='default')
            li.ion-battery-half(data-pack='default')
            li.ion-battery-low(data-pack='default')
            li.ion-battery-empty(data-pack='default')
            li.ion-battery-charging(data-pack='default')
            li.ion-wifi(data-pack='default')
            li.ion-bluetooth(data-pack='default')
            li.ion-calculator(data-pack='default')
            li.ion-camera(data-pack='default')
            li.ion-eye(data-pack='default')
            li.ion-eye-disabled(data-pack='default')
            li.ion-flash(data-pack='default')
            li.ion-flash-off(data-pack='default')
            li.ion-qr-scanner(data-pack='default')
            li.ion-image(data-pack='default')
            li.ion-images(data-pack='default')
            li.ion-wand(data-pack='default')
            li.ion-contrast(data-pack='default')
            li.ion-aperture(data-pack='default')
            li.ion-crop(data-pack='default')
            li.ion-easel(data-pack='default')
            li.ion-paintbrush(data-pack='default')
            li.ion-paintbucket(data-pack='default')
            li.ion-monitor(data-pack='default')
            li.ion-laptop(data-pack='default')
            li.ion-ipad(data-pack='default')
            li.ion-iphone(data-pack='default')
            li.ion-ipod(data-pack='default')
            li.ion-printer(data-pack='default')
            li.ion-usb(data-pack='default')
            li.ion-outlet(data-pack='default')
            li.ion-bug(data-pack='default')
            li.ion-code(data-pack='default')
            li.ion-code-working(data-pack='default')
            li.ion-code-download(data-pack='default')
            li.ion-fork-repo(data-pack='default')
            li.ion-network(data-pack='default')
            li.ion-pull-request(data-pack='default')
            li.ion-merge(data-pack='default')
            li.ion-xbox(data-pack='default')
            li.ion-playstation(data-pack='default')
            li.ion-steam(data-pack='default')
            li.ion-closed-captioning(data-pack='default')
            li.ion-videocamera(data-pack='default')
            li.ion-film-marker(data-pack='default')
            li.ion-disc(data-pack='default')
            li.ion-headphone(data-pack='default')
            li.ion-music-note(data-pack='default')
            li.ion-radio-waves(data-pack='default')
            li.ion-speakerphone(data-pack='default')
            li.ion-mic-a(data-pack='default')
            li.ion-mic-b(data-pack='default')
            li.ion-mic-c(data-pack='default')
            li.ion-volume-high(data-pack='default')
            li.ion-volume-medium(data-pack='default')
            li.ion-volume-low(data-pack='default')
            li.ion-volume-mute(data-pack='default')
            li.ion-levels(data-pack='default')
            li.ion-play(data-pack='default')
            li.ion-pause(data-pack='default')
            li.ion-stop(data-pack='default')
            li.ion-record(data-pack='default')
            li.ion-skip-forward(data-pack='default')
            li.ion-skip-backward(data-pack='default')
            li.ion-eject(data-pack='default')
            li.ion-bag(data-pack='default')
            li.ion-card(data-pack='default')
            li.ion-cash(data-pack='default')
            li.ion-pricetag(data-pack='default')
            li.ion-pricetags(data-pack='default')
            li.ion-thumbsup(data-pack='default')
            li.ion-thumbsdown(data-pack='default')
            li.ion-happy-outline(data-pack='default')
            li.ion-happy(data-pack='default')
            li.ion-sad-outline(data-pack='default')
            li.ion-sad(data-pack='default')
            li.ion-bowtie(data-pack='default')
            li.ion-tshirt-outline(data-pack='default')
            li.ion-tshirt(data-pack='default')
            li.ion-trophy(data-pack='default')
            li.ion-podium(data-pack='default')
            li.ion-ribbon-a(data-pack='default')
            li.ion-ribbon-b(data-pack='default')
            li.ion-university(data-pack='default')
            li.ion-magnet(data-pack='default')
            li.ion-beaker(data-pack='default')
            li.ion-erlenmeyer-flask(data-pack='default')
            li.ion-egg(data-pack='default')
            li.ion-earth(data-pack='default')
            li.ion-planet(data-pack='default')
            li.ion-lightbulb(data-pack='default')
            li.ion-cube(data-pack='default')
            li.ion-leaf(data-pack='default')
            li.ion-waterdrop(data-pack='default')
            li.ion-flame(data-pack='default')
            li.ion-fireball(data-pack='default')
            li.ion-bonfire(data-pack='default')
            li.ion-umbrella(data-pack='default')
            li.ion-nuclear(data-pack='default')
            li.ion-no-smoking(data-pack='default')
            li.ion-thermometer(data-pack='default')
            li.ion-speedometer(data-pack='default')
            li.ion-model-s(data-pack='default')
            li.ion-plane(data-pack='default')
            li.ion-jet(data-pack='default')
            li.ion-load-a(data-pack='default')
            li.ion-load-b(data-pack='default')
            li.ion-load-c(data-pack='default')
            li.ion-load-d(data-pack='default')
            // end default icons pack
            li.ion-ios-ionic-outline(data-pack='ios')
            li.ion-ios-arrow-back(data-pack='ios')
            li.ion-ios-arrow-forward(data-pack='ios')
            li.ion-ios-arrow-up(data-pack='ios')
            li.ion-ios-arrow-right(data-pack='ios')
            li.ion-ios-arrow-down(data-pack='ios')
            li.ion-ios-arrow-left(data-pack='ios')
            li.ion-ios-arrow-thin-up(data-pack='ios')
            li.ion-ios-arrow-thin-right(data-pack='ios')
            li.ion-ios-arrow-thin-down(data-pack='ios')
            li.ion-ios-arrow-thin-left(data-pack='ios')
            li.ion-ios-circle-filled(data-pack='ios')
            li.ion-ios-circle-outline(data-pack='ios')
            li.ion-ios-checkmark-empty(data-pack='ios')
            li.ion-ios-checkmark-outline(data-pack='ios')
            li.ion-ios-checkmark(data-pack='ios')
            li.ion-ios-plus-empty(data-pack='ios')
            li.ion-ios-plus-outline(data-pack='ios')
            li.ion-ios-plus(data-pack='ios')
            li.ion-ios-close-empty(data-pack='ios')
            li.ion-ios-close-outline(data-pack='ios')
            li.ion-ios-close(data-pack='ios')
            li.ion-ios-minus-empty(data-pack='ios')
            li.ion-ios-minus-outline(data-pack='ios')
            li.ion-ios-minus(data-pack='ios')
            li.ion-ios-information-empty(data-pack='ios')
            li.ion-ios-information-outline(data-pack='ios')
            li.ion-ios-information(data-pack='ios')
            li.ion-ios-help-empty(data-pack='ios')
            li.ion-ios-help-outline(data-pack='ios')
            li.ion-ios-help(data-pack='ios')
            li.ion-ios-search(data-pack='ios')
            li.ion-ios-search-strong(data-pack='ios')
            li.ion-ios-star(data-pack='ios')
            li.ion-ios-star-half(data-pack='ios')
            li.ion-ios-star-outline(data-pack='ios')
            li.ion-ios-heart(data-pack='ios')
            li.ion-ios-heart-outline(data-pack='ios')
            li.ion-ios-more(data-pack='ios')
            li.ion-ios-more-outline(data-pack='ios')
            li.ion-ios-home(data-pack='ios')
            li.ion-ios-home-outline(data-pack='ios')
            li.ion-ios-cloud(data-pack='ios')
            li.ion-ios-cloud-outline(data-pack='ios')
            li.ion-ios-cloud-upload(data-pack='ios')
            li.ion-ios-cloud-upload-outline(data-pack='ios')
            li.ion-ios-cloud-download(data-pack='ios')
            li.ion-ios-cloud-download-outline(data-pack='ios')
            li.ion-ios-upload(data-pack='ios')
            li.ion-ios-upload-outline(data-pack='ios')
            li.ion-ios-download(data-pack='ios')
            li.ion-ios-download-outline(data-pack='ios')
            li.ion-ios-refresh(data-pack='ios')
            li.ion-ios-refresh-outline(data-pack='ios')
            li.ion-ios-refresh-empty(data-pack='ios')
            li.ion-ios-reload(data-pack='ios')
            li.ion-ios-loop-strong(data-pack='ios')
            li.ion-ios-loop(data-pack='ios')
            li.ion-ios-bookmarks(data-pack='ios')
            li.ion-ios-bookmarks-outline(data-pack='ios')
            li.ion-ios-book(data-pack='ios')
            li.ion-ios-book-outline(data-pack='ios')
            li.ion-ios-flag(data-pack='ios')
            li.ion-ios-flag-outline(data-pack='ios')
            li.ion-ios-glasses(data-pack='ios')
            li.ion-ios-glasses-outline(data-pack='ios')
            li.ion-ios-browsers(data-pack='ios')
            li.ion-ios-browsers-outline(data-pack='ios')
            li.ion-ios-at(data-pack='ios')
            li.ion-ios-at-outline(data-pack='ios')
            li.ion-ios-pricetag(data-pack='ios')
            li.ion-ios-pricetag-outline(data-pack='ios')
            li.ion-ios-pricetags(data-pack='ios')
            li.ion-ios-pricetags-outline(data-pack='ios')
            li.ion-ios-cart(data-pack='ios')
            li.ion-ios-cart-outline(data-pack='ios')
            li.ion-ios-chatboxes(data-pack='ios')
            li.ion-ios-chatboxes-outline(data-pack='ios')
            li.ion-ios-chatbubble(data-pack='ios')
            li.ion-ios-chatbubble-outline(data-pack='ios')
            li.ion-ios-cog(data-pack='ios')
            li.ion-ios-cog-outline(data-pack='ios')
            li.ion-ios-gear(data-pack='ios')
            li.ion-ios-gear-outline(data-pack='ios')
            li.ion-ios-settings(data-pack='ios')
            li.ion-ios-settings-strong(data-pack='ios')
            li.ion-ios-toggle(data-pack='ios')
            li.ion-ios-toggle-outline(data-pack='ios')
            li.ion-ios-analytics(data-pack='ios')
            li.ion-ios-analytics-outline(data-pack='ios')
            li.ion-ios-pie(data-pack='ios')
            li.ion-ios-pie-outline(data-pack='ios')
            li.ion-ios-pulse(data-pack='ios')
            li.ion-ios-pulse-strong(data-pack='ios')
            li.ion-ios-filing(data-pack='ios')
            li.ion-ios-filing-outline(data-pack='ios')
            li.ion-ios-box(data-pack='ios')
            li.ion-ios-box-outline(data-pack='ios')
            li.ion-ios-compose(data-pack='ios')
            li.ion-ios-compose-outline(data-pack='ios')
            li.ion-ios-trash(data-pack='ios')
            li.ion-ios-trash-outline(data-pack='ios')
            li.ion-ios-copy(data-pack='ios')
            li.ion-ios-copy-outline(data-pack='ios')
            li.ion-ios-email(data-pack='ios')
            li.ion-ios-email-outline(data-pack='ios')
            li.ion-ios-undo(data-pack='ios')
            li.ion-ios-undo-outline(data-pack='ios')
            li.ion-ios-redo(data-pack='ios')
            li.ion-ios-redo-outline(data-pack='ios')
            li.ion-ios-paperplane(data-pack='ios')
            li.ion-ios-paperplane-outline(data-pack='ios')
            li.ion-ios-folder(data-pack='ios')
            li.ion-ios-folder-outline(data-pack='ios')
            li.ion-ios-paper(data-pack='ios')
            li.ion-ios-paper-outline(data-pack='ios')
            li.ion-ios-list(data-pack='ios')
            li.ion-ios-list-outline(data-pack='ios')
            li.ion-ios-world(data-pack='ios')
            li.ion-ios-world-outline(data-pack='ios')
            li.ion-ios-alarm(data-pack='ios')
            li.ion-ios-alarm-outline(data-pack='ios')
            li.ion-ios-speedometer(data-pack='ios')
            li.ion-ios-speedometer-outline(data-pack='ios')
            li.ion-ios-stopwatch(data-pack='ios')
            li.ion-ios-stopwatch-outline(data-pack='ios')
            li.ion-ios-timer(data-pack='ios')
            li.ion-ios-timer-outline(data-pack='ios')
            li.ion-ios-clock(data-pack='ios')
            li.ion-ios-clock-outline(data-pack='ios')
            li.ion-ios-time(data-pack='ios')
            li.ion-ios-time-outline(data-pack='ios')
            li.ion-ios-calendar(data-pack='ios')
            li.ion-ios-calendar-outline(data-pack='ios')
            li.ion-ios-photos(data-pack='ios')
            li.ion-ios-photos-outline(data-pack='ios')
            li.ion-ios-albums(data-pack='ios')
            li.ion-ios-albums-outline(data-pack='ios')
            li.ion-ios-camera(data-pack='ios')
            li.ion-ios-camera-outline(data-pack='ios')
            li.ion-ios-reverse-camera(data-pack='ios')
            li.ion-ios-reverse-camera-outline(data-pack='ios')
            li.ion-ios-eye(data-pack='ios')
            li.ion-ios-eye-outline(data-pack='ios')
            li.ion-ios-bolt(data-pack='ios')
            li.ion-ios-bolt-outline(data-pack='ios')
            li.ion-ios-color-wand(data-pack='ios')
            li.ion-ios-color-wand-outline(data-pack='ios')
            li.ion-ios-color-filter(data-pack='ios')
            li.ion-ios-color-filter-outline(data-pack='ios')
            li.ion-ios-grid-view(data-pack='ios')
            li.ion-ios-grid-view-outline(data-pack='ios')
            li.ion-ios-crop-strong(data-pack='ios')
            li.ion-ios-crop(data-pack='ios')
            li.ion-ios-barcode(data-pack='ios')
            li.ion-ios-barcode-outline(data-pack='ios')
            li.ion-ios-briefcase(data-pack='ios')
            li.ion-ios-briefcase-outline(data-pack='ios')
            li.ion-ios-medkit(data-pack='ios')
            li.ion-ios-medkit-outline(data-pack='ios')
            li.ion-ios-medical(data-pack='ios')
            li.ion-ios-medical-outline(data-pack='ios')
            li.ion-ios-infinite(data-pack='ios')
            li.ion-ios-infinite-outline(data-pack='ios')
            li.ion-ios-calculator(data-pack='ios')
            li.ion-ios-calculator-outline(data-pack='ios')
            li.ion-ios-keypad(data-pack='ios')
            li.ion-ios-keypad-outline(data-pack='ios')
            li.ion-ios-telephone(data-pack='ios')
            li.ion-ios-telephone-outline(data-pack='ios')
            li.ion-ios-drag(data-pack='ios')
            li.ion-ios-location(data-pack='ios')
            li.ion-ios-location-outline(data-pack='ios')
            li.ion-ios-navigate(data-pack='ios')
            li.ion-ios-navigate-outline(data-pack='ios')
            li.ion-ios-locked(data-pack='ios')
            li.ion-ios-locked-outline(data-pack='ios')
            li.ion-ios-unlocked(data-pack='ios')
            li.ion-ios-unlocked-outline(data-pack='ios')
            li.ion-ios-monitor(data-pack='ios')
            li.ion-ios-monitor-outline(data-pack='ios')
            li.ion-ios-printer(data-pack='ios')
            li.ion-ios-printer-outline(data-pack='ios')
            li.ion-ios-game-controller-a(data-pack='ios')
            li.ion-ios-game-controller-a-outline(data-pack='ios')
            li.ion-ios-game-controller-b(data-pack='ios')
            li.ion-ios-game-controller-b-outline(data-pack='ios')
            li.ion-ios-americanfootball(data-pack='ios')
            li.ion-ios-americanfootball-outline(data-pack='ios')
            li.ion-ios-baseball(data-pack='ios')
            li.ion-ios-baseball-outline(data-pack='ios')
            li.ion-ios-basketball(data-pack='ios')
            li.ion-ios-basketball-outline(data-pack='ios')
            li.ion-ios-tennisball(data-pack='ios')
            li.ion-ios-tennisball-outline(data-pack='ios')
            li.ion-ios-football(data-pack='ios')
            li.ion-ios-football-outline(data-pack='ios')
            li.ion-ios-body(data-pack='ios')
            li.ion-ios-body-outline(data-pack='ios')
            li.ion-ios-person(data-pack='ios')
            li.ion-ios-person-outline(data-pack='ios')
            li.ion-ios-personadd(data-pack='ios')
            li.ion-ios-personadd-outline(data-pack='ios')
            li.ion-ios-people(data-pack='ios')
            li.ion-ios-people-outline(data-pack='ios')
            li.ion-ios-musical-notes(data-pack='ios')
            li.ion-ios-musical-note(data-pack='ios')
            li.ion-ios-bell(data-pack='ios')
            li.ion-ios-bell-outline(data-pack='ios')
            li.ion-ios-mic(data-pack='ios')
            li.ion-ios-mic-outline(data-pack='ios')
            li.ion-ios-mic-off(data-pack='ios')
            li.ion-ios-volume-high(data-pack='ios')
            li.ion-ios-volume-low(data-pack='ios')
            li.ion-ios-play(data-pack='ios')
            li.ion-ios-play-outline(data-pack='ios')
            li.ion-ios-pause(data-pack='ios')
            li.ion-ios-pause-outline(data-pack='ios')
            li.ion-ios-recording(data-pack='ios')
            li.ion-ios-recording-outline(data-pack='ios')
            li.ion-ios-fastforward(data-pack='ios')
            li.ion-ios-fastforward-outline(data-pack='ios')
            li.ion-ios-rewind(data-pack='ios')
            li.ion-ios-rewind-outline(data-pack='ios')
            li.ion-ios-skipbackward(data-pack='ios')
            li.ion-ios-skipbackward-outline(data-pack='ios')
            li.ion-ios-skipforward(data-pack='ios')
            li.ion-ios-skipforward-outline(data-pack='ios')
            li.ion-ios-shuffle-strong(data-pack='ios')
            li.ion-ios-shuffle(data-pack='ios')
            li.ion-ios-videocam(data-pack='ios')
            li.ion-ios-videocam-outline(data-pack='ios')
            li.ion-ios-film(data-pack='ios')
            li.ion-ios-film-outline(data-pack='ios')
            li.ion-ios-flask(data-pack='ios')
            li.ion-ios-flask-outline(data-pack='ios')
            li.ion-ios-lightbulb(data-pack='ios')
            li.ion-ios-lightbulb-outline(data-pack='ios')
            li.ion-ios-wineglass(data-pack='ios')
            li.ion-ios-wineglass-outline(data-pack='ios')
            li.ion-ios-pint(data-pack='ios')
            li.ion-ios-pint-outline(data-pack='ios')
            li.ion-ios-nutrition(data-pack='ios')
            li.ion-ios-nutrition-outline(data-pack='ios')
            li.ion-ios-flower(data-pack='ios')
            li.ion-ios-flower-outline(data-pack='ios')
            li.ion-ios-rose(data-pack='ios')
            li.ion-ios-rose-outline(data-pack='ios')
            li.ion-ios-paw(data-pack='ios')
            li.ion-ios-paw-outline(data-pack='ios')
            li.ion-ios-flame(data-pack='ios')
            li.ion-ios-flame-outline(data-pack='ios')
            li.ion-ios-sunny(data-pack='ios')
            li.ion-ios-sunny-outline(data-pack='ios')
            li.ion-ios-partlysunny(data-pack='ios')
            li.ion-ios-partlysunny-outline(data-pack='ios')
            li.ion-ios-cloudy(data-pack='ios')
            li.ion-ios-cloudy-outline(data-pack='ios')
            li.ion-ios-rainy(data-pack='ios')
            li.ion-ios-rainy-outline(data-pack='ios')
            li.ion-ios-thunderstorm(data-pack='ios')
            li.ion-ios-thunderstorm-outline(data-pack='ios')
            li.ion-ios-snowy(data-pack='ios')
            li.ion-ios-moon(data-pack='ios')
            li.ion-ios-moon-outline(data-pack='ios')
            li.ion-ios-cloudy-night(data-pack='ios')
            li.ion-ios-cloudy-night-outline(data-pack='ios')
            // end iOS 7-style icons pack
            li.ion-android-arrow-up(data-pack='android')
            li.ion-android-arrow-forward(data-pack='android')
            li.ion-android-arrow-down(data-pack='android')
            li.ion-android-arrow-back(data-pack='android')
            li.ion-android-arrow-dropup(data-pack='android')
            li.ion-android-arrow-dropup-circle(data-pack='android')
            li.ion-android-arrow-dropright(data-pack='android')
            li.ion-android-arrow-dropright-circle(data-pack='android')
            li.ion-android-arrow-dropdown(data-pack='android')
            li.ion-android-arrow-dropdown-circle(data-pack='android')
            li.ion-android-arrow-dropleft(data-pack='android')
            li.ion-android-arrow-dropleft-circle(data-pack='android')
            li.ion-android-add(data-pack='android')
            li.ion-android-add-circle(data-pack='android')
            li.ion-android-remove(data-pack='android')
            li.ion-android-remove-circle(data-pack='android')
            li.ion-android-close(data-pack='android')
            li.ion-android-cancel(data-pack='android')
            li.ion-android-radio-button-off(data-pack='android')
            li.ion-android-radio-button-on(data-pack='android')
            li.ion-android-checkmark-circle(data-pack='android')
            li.ion-android-checkbox-outline-blank(data-pack='android')
            li.ion-android-checkbox-outline(data-pack='android')
            li.ion-android-checkbox-blank(data-pack='android')
            li.ion-android-checkbox(data-pack='android')
            li.ion-android-done(data-pack='android')
            li.ion-android-done-all(data-pack='android')
            li.ion-android-menu(data-pack='android')
            li.ion-android-more-horizontal(data-pack='android')
            li.ion-android-more-vertical(data-pack='android')
            li.ion-android-refresh(data-pack='android')
            li.ion-android-sync(data-pack='android')
            li.ion-android-wifi(data-pack='android')
            li.ion-android-call(data-pack='android')
            li.ion-android-apps(data-pack='android')
            li.ion-android-settings(data-pack='android')
            li.ion-android-options(data-pack='android')
            li.ion-android-funnel(data-pack='android')
            li.ion-android-search(data-pack='android')
            li.ion-android-home(data-pack='android')
            li.ion-android-cloud-outline(data-pack='android')
            li.ion-android-cloud(data-pack='android')
            li.ion-android-download(data-pack='android')
            li.ion-android-upload(data-pack='android')
            li.ion-android-cloud-done(data-pack='android')
            li.ion-android-cloud-circle(data-pack='android')
            li.ion-android-favorite-outline(data-pack='android')
            li.ion-android-favorite(data-pack='android')
            li.ion-android-star-outline(data-pack='android')
            li.ion-android-star-half(data-pack='android')
            li.ion-android-star(data-pack='android')
            li.ion-android-calendar(data-pack='android')
            li.ion-android-alarm-clock(data-pack='android')
            li.ion-android-time(data-pack='android')
            li.ion-android-stopwatch(data-pack='android')
            li.ion-android-watch(data-pack='android')
            li.ion-android-locate(data-pack='android')
            li.ion-android-navigate(data-pack='android')
            li.ion-android-pin(data-pack='android')
            li.ion-android-compass(data-pack='android')
            li.ion-android-map(data-pack='android')
            li.ion-android-walk(data-pack='android')
            li.ion-android-bicycle(data-pack='android')
            li.ion-android-car(data-pack='android')
            li.ion-android-bus(data-pack='android')
            li.ion-android-subway(data-pack='android')
            li.ion-android-train(data-pack='android')
            li.ion-android-boat(data-pack='android')
            li.ion-android-plane(data-pack='android')
            li.ion-android-restaurant(data-pack='android')
            li.ion-android-bar(data-pack='android')
            li.ion-android-cart(data-pack='android')
            li.ion-android-camera(data-pack='android')
            li.ion-android-image(data-pack='android')
            li.ion-android-film(data-pack='android')
            li.ion-android-color-palette(data-pack='android')
            li.ion-android-create(data-pack='android')
            li.ion-android-mail(data-pack='android')
            li.ion-android-drafts(data-pack='android')
            li.ion-android-send(data-pack='android')
            li.ion-android-archive(data-pack='android')
            li.ion-android-delete(data-pack='android')
            li.ion-android-attach(data-pack='android')
            li.ion-android-share(data-pack='android')
            li.ion-android-share-alt(data-pack='android')
            li.ion-android-bookmark(data-pack='android')
            li.ion-android-document(data-pack='android')
            li.ion-android-clipboard(data-pack='android')
            li.ion-android-list(data-pack='android')
            li.ion-android-folder-open(data-pack='android')
            li.ion-android-folder(data-pack='android')
            li.ion-android-print(data-pack='android')
            li.ion-android-open(data-pack='android')
            li.ion-android-exit(data-pack='android')
            li.ion-android-contract(data-pack='android')
            li.ion-android-expand(data-pack='android')
            li.ion-android-globe(data-pack='android')
            li.ion-android-chat(data-pack='android')
            li.ion-android-textsms(data-pack='android')
            li.ion-android-hangout(data-pack='android')
            li.ion-android-happy(data-pack='android')
            li.ion-android-sad(data-pack='android')
            li.ion-android-person(data-pack='android')
            li.ion-android-people(data-pack='android')
            li.ion-android-person-add(data-pack='android')
            li.ion-android-contact(data-pack='android')
            li.ion-android-contacts(data-pack='android')
            li.ion-android-playstore(data-pack='android')
            li.ion-android-lock(data-pack='android')
            li.ion-android-unlock(data-pack='android')
            li.ion-android-microphone(data-pack='android')
            li.ion-android-microphone-off(data-pack='android')
            li.ion-android-notifications-none(data-pack='android')
            li.ion-android-notifications(data-pack='android')
            li.ion-android-notifications-off(data-pack='android')
            li.ion-android-volume-mute(data-pack='android')
            li.ion-android-volume-down(data-pack='android')
            li.ion-android-volume-up(data-pack='android')
            li.ion-android-volume-off(data-pack='android')
            li.ion-android-hand(data-pack='android')
            li.ion-android-desktop(data-pack='android')
            li.ion-android-laptop(data-pack='android')
            li.ion-android-phone-portrait(data-pack='android')
            li.ion-android-phone-landscape(data-pack='android')
            li.ion-android-bulb(data-pack='android')
            li.ion-android-sunny(data-pack='android')
            li.ion-android-alert(data-pack='android')
            li.ion-android-warning(data-pack='android')
              //
                End Android-style icons pack.
                Android-style icons originally built by Google’s [Material Design Icons](https://github.com/google/material-design-icons), used under [CC BY](http://creativecommons.org/licenses/by/4.0/) / Modified icons to fit ionicon’s grid from original.
            li.ion-social-twitter(data-pack='social')
            li.ion-social-twitter-outline(data-pack='social')
            li.ion-social-facebook(data-pack='social')
            li.ion-social-facebook-outline(data-pack='social')
            li.ion-social-googleplus(data-pack='social')
            li.ion-social-googleplus-outline(data-pack='social')
            li.ion-social-google(data-pack='social')
            li.ion-social-google-outline(data-pack='social')
            li.ion-social-dribbble(data-pack='social')
            li.ion-social-dribbble-outline(data-pack='social')
            li.ion-social-octocat(data-pack='social')
            li.ion-social-github(data-pack='social')
            li.ion-social-github-outline(data-pack='social')
            li.ion-social-instagram(data-pack='social')
            li.ion-social-instagram-outline(data-pack='social')
            li.ion-social-whatsapp(data-pack='social')
            li.ion-social-whatsapp-outline(data-pack='social')
            li.ion-social-snapchat(data-pack='social')
            li.ion-social-snapchat-outline(data-pack='social')
            li.ion-social-foursquare(data-pack='social')
            li.ion-social-foursquare-outline(data-pack='social')
            li.ion-social-pinterest(data-pack='social')
            li.ion-social-pinterest-outline(data-pack='social')
            li.ion-social-rss(data-pack='social')
            li.ion-social-rss-outline(data-pack='social')
            li.ion-social-tumblr(data-pack='social')
            li.ion-social-tumblr-outline(data-pack='social')
            li.ion-social-wordpress(data-pack='social')
            li.ion-social-wordpress-outline(data-pack='social')
            li.ion-social-reddit(data-pack='social')
            li.ion-social-reddit-outline(data-pack='social')
            li.ion-social-hackernews(data-pack='social')
            li.ion-social-hackernews-outline(data-pack='social')
            li.ion-social-designernews(data-pack='social')
            li.ion-social-designernews-outline(data-pack='social')
            li.ion-social-yahoo(data-pack='social')
            li.ion-social-yahoo-outline(data-pack='social')
            li.ion-social-buffer(data-pack='social')
            li.ion-social-buffer-outline(data-pack='social')
            li.ion-social-skype(data-pack='social')
            li.ion-social-skype-outline(data-pack='social')
            li.ion-social-linkedin(data-pack='social')
            li.ion-social-linkedin-outline(data-pack='social')
            li.ion-social-vimeo(data-pack='social')
            li.ion-social-vimeo-outline(data-pack='social')
            li.ion-social-twitch(data-pack='social')
            li.ion-social-twitch-outline(data-pack='social')
            li.ion-social-youtube(data-pack='social')
            li.ion-social-youtube-outline(data-pack='social')
            li.ion-social-dropbox(data-pack='social')
            li.ion-social-dropbox-outline(data-pack='social')
            li.ion-social-apple(data-pack='social')
            li.ion-social-apple-outline(data-pack='social')
            li.ion-social-android(data-pack='social')
            li.ion-social-android-outline(data-pack='social')
            li.ion-social-windows(data-pack='social')
            li.ion-social-windows-outline(data-pack='social')
            li.ion-social-html5(data-pack='social')
            li.ion-social-html5-outline(data-pack='social')
            li.ion-social-css3(data-pack='social')
            li.ion-social-css3-outline(data-pack='social')
            li.ion-social-javascript(data-pack='social')
            li.ion-social-javascript-outline(data-pack='social')
            li.ion-social-angular(data-pack='social')
            li.ion-social-angular-outline(data-pack='social')
            li.ion-social-nodejs(data-pack='social')
            li.ion-social-sass(data-pack='social')
            li.ion-social-python(data-pack='social')
            li.ion-social-chrome(data-pack='social')
            li.ion-social-chrome-outline(data-pack='social')
            li.ion-social-codepen(data-pack='social')
            li.ion-social-codepen-outline(data-pack='social')
            li.ion-social-markdown(data-pack='social')
            li.ion-social-tux(data-pack='social')
            li.ion-social-freebsd-devil(data-pack='social')
            li.ion-social-usd(data-pack='social')
            li.ion-social-usd-outline(data-pack='social')
            li.ion-social-bitcoin(data-pack='social')
            li.ion-social-bitcoin-outline(data-pack='social')
            li.ion-social-yen(data-pack='social')
            li.ion-social-yen-outline(data-pack='social')
            li.ion-social-euro(data-pack='social')
            li.ion-social-euro-outline(data-pack='social')
