extends ../core/core.layout.pug
block pagetitle
    - pageTitle = 'Spinners'
block content
    .container-fluid
        h5.mt-0 Loaders.css
        p.mb-4 Delightful and performance-focused pure css loading animations.
        .row.loader-primary
            .col-xl-3.col-lg-4.col-md-12: .cardbox
                .cardbox-heading ball-pulse
                .loader-demo: .loader-inner.ball-pulse
            .col-xl-3.col-lg-4.col-md-12: .cardbox
                .cardbox-heading ball-grid-pulse
                .loader-demo: .loader-inner.ball-grid-pulse
            .col-xl-3.col-lg-4.col-md-12: .cardbox
                .cardbox-heading ball-clip-rotate
                .loader-demo: .loader-inner.ball-clip-rotate
            .col-xl-3.col-lg-4.col-md-12: .cardbox
                .cardbox-heading ball-clip-rotate-pulse
                .loader-demo: .loader-inner.ball-clip-rotate-pulse
            .col-xl-3.col-lg-4.col-md-12: .cardbox
                .cardbox-heading square-spin
                .loader-demo: .loader-inner.square-spin
            .col-xl-3.col-lg-4.col-md-12: .cardbox
                .cardbox-heading ball-clip-rotate-multiple
                .loader-demo: .loader-inner.ball-clip-rotate-multiple
            .col-xl-3.col-lg-4.col-md-12: .cardbox
                .cardbox-heading ball-pulse-rise
                .loader-demo: .loader-inner.ball-pulse-rise
            .col-xl-3.col-lg-4.col-md-12: .cardbox
                .cardbox-heading ball-rotate
                .loader-demo: .loader-inner.ball-rotate
            .col-xl-3.col-lg-4.col-md-12: .cardbox
                .cardbox-heading cube-transition
                .loader-demo: .loader-inner.cube-transition
            .col-xl-3.col-lg-4.col-md-12: .cardbox
                .cardbox-heading ball-zig-zag
                .loader-demo: .loader-inner.ball-zig-zag
            .col-xl-3.col-lg-4.col-md-12: .cardbox
                .cardbox-heading ball-zig-zag-deflect
                .loader-demo: .loader-inner.ball-zig-zag-deflect
            .col-xl-3.col-lg-4.col-md-12: .cardbox
                .cardbox-heading ball-triangle-path
                .loader-demo: .loader-inner.ball-triangle-path
            .col-xl-3.col-lg-4.col-md-12: .cardbox
                .cardbox-heading ball-scale
                .loader-demo: .loader-inner.ball-scale
            .col-xl-3.col-lg-4.col-md-12: .cardbox
                .cardbox-heading line-scale
                .loader-demo: .loader-inner.line-scale
            .col-xl-3.col-lg-4.col-md-12: .cardbox
                .cardbox-heading line-scale-party
                .loader-demo: .loader-inner.line-scale-party
            .col-xl-3.col-lg-4.col-md-12: .cardbox
                .cardbox-heading ball-scale-multiple
                .loader-demo: .loader-inner.ball-scale-multiple
            .col-xl-3.col-lg-4.col-md-12: .cardbox
                .cardbox-heading ball-pulse-sync
                .loader-demo: .loader-inner.ball-pulse-sync
            .col-xl-3.col-lg-4.col-md-12: .cardbox
                .cardbox-heading ball-beat
                .loader-demo: .loader-inner.ball-beat
            .col-xl-3.col-lg-4.col-md-12: .cardbox
                .cardbox-heading line-scale-pulse-out
                .loader-demo: .loader-inner.line-scale-pulse-out
            .col-xl-3.col-lg-4.col-md-12: .cardbox
                .cardbox-heading line-scale-pulse-out-rapid
                .loader-demo: .loader-inner.line-scale-pulse-out-rapid
            .col-xl-3.col-lg-4.col-md-12: .cardbox
                .cardbox-heading ball-scale-ripple
                .loader-demo: .loader-inner.ball-scale-ripple
            .col-xl-3.col-lg-4.col-md-12: .cardbox
                .cardbox-heading ball-scale-ripple-multiple
                .loader-demo: .loader-inner.ball-scale-ripple-multiple
            .col-xl-3.col-lg-4.col-md-12: .cardbox
                .cardbox-heading ball-spin-fade-loader
                .loader-demo: .loader-inner.ball-spin-fade-loader
            .col-xl-3.col-lg-4.col-md-12: .cardbox
                .cardbox-heading line-spin-fade-loader
                .loader-demo: .loader-inner.line-spin-fade-loader
            .col-xl-3.col-lg-4.col-md-12: .cardbox
                .cardbox-heading triangle-skew-spin
                .loader-demo: .loader-inner.triangle-skew-spin
            .col-xl-3.col-lg-4.col-md-12: .cardbox
                .cardbox-heading pacman
                .loader-demo: .loader-inner.pacman
            .col-xl-3.col-lg-4.col-md-12: .cardbox
                .cardbox-heading ball-grid-beat
                .loader-demo: .loader-inner.ball-grid-beat
            .col-xl-3.col-lg-4.col-md-12: .cardbox
                .cardbox-heading semi-circle-spin
                .loader-demo: .loader-inner.semi-circle-spin

block vendor_css
    // Loaders.CSS
    link(rel='stylesheet', href='vendor/loaders.css/loaders.css')
block vendor_js
    // Loaders.CSS
    script(src='vendor/loaders.css/loaders.css.js')
