<div class="container container-fluid">
    <div class="cardbox">
        <div class="cardbox-body">
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="m-0">Dasha Inc.</h3><small class="text-muted">Nulla viverra dignissim metus ac placerat</small>
                </div>
                <div class="col-sm-6 text-sm-right">
                    <h5 class="my">Invoice no. #2456544</h5>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-2">
                    <h4 class="m-0">Deliver to:</h4>
                </div>
                <div class="col-lg-10">
                    <address><strong>Twitter, Inc.</strong>
                        <br> 1355 Market Street, Suite 900
                        <br> San Francisco, CA 94103
                        <br>
                        <abbr title="Phone">P:</abbr> (123) 456-7890</address>
                    <address class="mb-0"><strong>Full Name</strong>
                        <br><a href="mailto:#">first.last@example.com</a></address>
                </div>
            </div>
            <div class="my-4"></div>
            <div class="table-responsive my-4">
                <table class="table table-bordered">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Item #</th>
                            <th>Description</th>
                            <th>Quantity</th>
                            <th>Unit Price</th>
                            <th class="text-right">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1001</td>
                            <td>Iphone 6+ - 64Gb</td>
                            <td>2</td>
                            <td>$ 200</td>
                            <td class="text-right">$ 600</td>
                        </tr>
                        <tr>
                            <td>2002</td>
                            <td>Iphone 7 - 128Gb</td>
                            <td>4</td>
                            <td>$ 500</td>
                            <td class="text-right">$ 2,500</td>
                        </tr>
                        <tr>
                            <td>3010</td>
                            <td>Ipad 12x - 512Gb</td>
                            <td>5</td>
                            <td>$ 650</td>
                            <td class="text-right">$ 650</td>
                        </tr>
                        <tr>
                            <td>3009</td>
                            <td>iMac HyperRetina 45</td>
                            <td>6</td>
                            <td>$ 1,100</td>
                            <td class="text-right">$ 6,600</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <p><strong>Bottom words for this invoice</strong></p>
                    <p><small>Nulla egestas faucibus tincidunt. Praesent non nulla et ligula luctus mattis eget at lacus. Pellentesque convallis mauris eu elit imperdiet quis eleifend quam aliquet. Suspendisse vehicula, magna non tristique tincidunt, massa nisi luctus tellus, vel laoreet sem lectus ut nibh. Vestibulum purus ipsum.</small></p>
                    <hr class="hidden-sm-up">
                </div>
                <div class="col-lg-1 col-xl-3"></div>
                <div class="col-lg-5 col-xl-3 text-right">
                    <p class="clearfix"><strong class="float-left">Sub Total:</strong><span class="float-right">8,395.00</span></p>
                    <p class="clearfix"><strong class="float-left">Promo code:</strong><span class="float-right">ABC-XYZ</span></p>
                    <p class="clearfix"><strong class="float-left">Tax (10%):</strong><span class="float-right">2,145.00</span></p>
                    <hr>
                    <h3 class="m-0 text-right">USD 10,540.00</h3>
                </div>
            </div>
            <hr>
            <div class="clearfix">
                <button class="btn btn-secondary float-left mr-3" type="button" data-toggle="tooltip" data-title="Edit this invoice"><em class="ion-edit"></em></button>
                <button class="btn btn-secondary float-left" type="button" data-toggle="tooltip" data-title="Print this invoice"><em class="ion-printer"></em></button>
                <button class="btn btn-secondary float-left" type="button" data-toggle="tooltip" data-title="Lock this invoice"><em class="ion-unlocked"></em></button>
                <button class="btn btn-primary float-right" type="button">Send Invoice</button>
            </div>
        </div>
    </div>
</div>
