extends error.layout.pug
block content
    .d-flex.align-items-center
        div
            .p-4.text-center
                p.text-white.text-bold.text-xl.lh1.text-danger 503
                p.lead Momentarily not available :'(
                p Please try again later...
