extends error.layout.pug
block content
    .d-flex.align-items-center
        div
            .p-4.text-center
                p.text-white.text-bold.text-xl.lh1 403
                p.lead Access forbidden :|
                p The page your are looking for it's not accesible. 
                    a(href="dashboard.html") Go back 
                    | or 
                    a(href="signin.html") Login
