extends error.layout.pug
block content
    .d-flex.align-items-center
        div
            .p-4.text-center
                p.text-white.text-bold.text-xl.lh1 404
                p.lead This page cannot be found :(
                p The page your are looking for doesn't exists. 
                    a(href="dashboard.html") Go back
