<div bsModal #searchModal="bs-modal" (onShown)="onModalShown()" class="modal modal-top fade modal-search">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-search-form">
                    <form action="#">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button (click)="searchModal.hide()" class="btn btn-flat" type="button" data-dismiss="modal"><em class="ion-arrow-left-c icon-lg text-muted"></em></button>
                            </div>
                            <input class="form-control header-input-search" type="text" placeholder="Search..">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
