<div class="container-fluid">
    <div class="cardbox">
        <div class="cardbox-heading pb-0">
            <div class="float-right"><small>Total topics: 5</small></div>
            <div class="cardbox-title">Global Topics</div><small>Posts found: 15,000</small>
        </div>
        <div class="p-2 bb">
            <div class="d-flex align-items-center">
                <div class="mr-auto"></div>
                <div class="d-flex text-center">
                    <div class="wd-xxs"><small class="text-muted">Views</small></div>
                    <div class="wd-xxs"><small class="text-muted">Messages</small></div>
                </div>
            </div>
        </div>
        <div class="p-2 bb">
            <div class="d-flex align-items-center">
                <div class="mr-4 ml-2 px-2 text-center rounded thumb32 lh32 bg-red-500"><em class="ion-ios-paper-outline icon-lg"></em></div>
                <div class="mr-auto">
                    <p class="mb-1"><a href="#">Rules</a></p><small>Aenean dictum vulputate porta. Nulla eget lorem leo, sit amet elementum lorem.</small>
                </div>
                <div class="d-flex text-center">
                    <div class="wd-xxs"><span>12</span></div>
                    <div class="wd-xxs"><span>45</span></div>
                </div>
            </div>
        </div>
        <div class="p-2 bb">
            <div class="d-flex align-items-center">
                <div class="mr-4 ml-2 px-2 text-center rounded thumb32 lh32 bg-green-500"><em class="ion-ios-paper-outline icon-lg"></em></div>
                <div class="mr-auto">
                    <p class="mb-1"><a href="#">Pubic Announcements</a></p><small>Donec malesuada ullamcorper nibh et venenatis. Integer imperdiet, turpis nec viverra egestas, magna sapien convallis velit, nec vestibulum turpis dui vel dui.</small>
                </div>
                <div class="d-flex text-center">
                    <div class="wd-xxs"><span>65</span></div>
                    <div class="wd-xxs"><span>22</span></div>
                </div>
            </div>
        </div>
        <div class="p-2 bb">
            <div class="d-flex align-items-center">
                <div class="mr-4 ml-2 px-2 text-center rounded thumb32 lh32 bg-cyan-500"><em class="ion-ios-paper-outline icon-lg"></em></div>
                <div class="mr-auto">
                    <p class="mb-1"><a href="#">Privacy</a></p><small>Maecenas ornare libero eget eros imperdiet dictum.</small>
                </div>
                <div class="d-flex text-center">
                    <div class="wd-xxs"><span>351</span></div>
                    <div class="wd-xxs"><span>100</span></div>
                </div>
            </div>
        </div>
        <div class="p-2 bb">
            <div class="d-flex align-items-center">
                <div class="mr-4 ml-2 px-2 text-center rounded thumb32 lh32 bg-blue-500"><em class="ion-ios-paper-outline icon-lg"></em></div>
                <div class="mr-auto">
                    <p class="mb-1"><a href="#">Policy</a></p><small>Curabitur nec congue erat.</small>
                </div>
                <div class="d-flex text-center">
                    <div class="wd-xxs"><span>1000</span></div>
                    <div class="wd-xxs"><span>500</span></div>
                </div>
            </div>
        </div>
        <div class="p-2 bb">
            <div class="d-flex align-items-center">
                <div class="mr-4 ml-2 px-2 text-center rounded thumb32 lh32 bg-purple-500"><em class="ion-ios-paper-outline icon-lg"></em></div>
                <div class="mr-auto">
                    <p class="mb-1"><a href="#">Latest News</a></p><small>Curabitur nec congue erat.</small>
                </div>
                <div class="d-flex text-center">
                    <div class="wd-xxs"><span>995</span></div>
                    <div class="wd-xxs"><span>265</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="cardbox">
        <div class="cardbox-heading pb-0">
            <div class="float-right"><small>Total topics: 6</small></div>
            <div class="cardbox-title">Dashboard Topics</div><small>Posts found: 47,000</small>
        </div>
        <div class="p-2 bb">
            <div class="d-flex align-items-center">
                <div class="mr-3"></div>
                <div class="mr-auto"></div>
                <div class="d-flex text-center">
                    <div class="wd-xxs"><small class="text-muted">Views</small></div>
                    <div class="wd-xxs"><small class="text-muted">Messages</small></div>
                </div>
            </div>
        </div>
        <div class="p-2 bb">
            <div class="d-flex align-items-center">
                <div class="mr-4 ml-2 px-2 text-center rounded thumb32 lh32 bg-blue-500"><em class="ion-ios-paper-outline icon-lg"></em></div>
                <div class="mr-auto">
                    <p class="mb-1"><a href="#">Administration</a></p><small>Aenean dictum vulputate porta. Nulla eget lorem leo, sit amet elementum lorem.</small>
                </div>
                <div class="d-flex text-center">
                    <div class="wd-xxs"><span>12</span></div>
                    <div class="wd-xxs"><span>45</span></div>
                </div>
            </div>
        </div>
        <div class="p-2 bb">
            <div class="d-flex align-items-center">
                <div class="mr-4 ml-2 px-2 text-center rounded thumb32 lh32 bg-orange-700"><em class="ion-ios-paper-outline icon-lg"></em></div>
                <div class="mr-auto">
                    <p class="mb-1"><a href="#">Single Page Application</a></p><small>Donec malesuada ullamcorper nibh et venenatis. Integer imperdiet, turpis nec viverra egestas, magna sapien convallis velit, nec vestibulum turpis dui vel dui.</small>
                </div>
                <div class="d-flex text-center">
                    <div class="wd-xxs"><span>65</span></div>
                    <div class="wd-xxs"><span>22</span></div>
                </div>
            </div>
        </div>
        <div class="p-2 bb">
            <div class="d-flex align-items-center">
                <div class="mr-4 ml-2 px-2 text-center rounded thumb32 lh32 bg-blue-500"><em class="ion-ios-paper-outline icon-lg"></em></div>
                <div class="mr-auto">
                    <p class="mb-1"><a href="#">Network Security</a></p><small>Maecenas ornare libero eget eros imperdiet dictum.</small>
                </div>
                <div class="d-flex text-center">
                    <div class="wd-xxs"><span>351</span></div>
                    <div class="wd-xxs"><span>100</span></div>
                </div>
            </div>
        </div>
        <div class="p-2 bb">
            <div class="d-flex align-items-center">
                <div class="mr-4 ml-2 px-2 text-center rounded thumb32 lh32 bg-pink-500"><em class="ion-ios-paper-outline icon-lg"></em></div>
                <div class="mr-auto">
                    <p class="mb-1"><a href="#">Isomorphic Apps</a></p><small>Curabitur nec congue erat.</small>
                </div>
                <div class="d-flex text-center">
                    <div class="wd-xxs"><span>1000</span></div>
                    <div class="wd-xxs"><span>500</span></div>
                </div>
            </div>
        </div>
        <div class="p-2 bb">
            <div class="d-flex align-items-center">
                <div class="mr-4 ml-2 px-2 text-center rounded thumb32 lh32 bg-deep-purple-500"><em class="ion-ios-paper-outline icon-lg"></em></div>
                <div class="mr-auto">
                    <p class="mb-1"><a href="#">Latest Releases</a></p><small>Curabitur nec congue erat.</small>
                </div>
                <div class="d-flex text-center">
                    <div class="wd-xxs"><span>995</span></div>
                    <div class="wd-xxs"><span>265</span></div>
                </div>
            </div>
        </div>
        <div class="p-2 bb">
            <div class="d-flex align-items-center">
                <div class="mr-4 ml-2 px-2 text-center rounded thumb32 lh32 bg-indigo-500"><em class="ion-ios-paper-outline icon-lg"></em></div>
                <div class="mr-auto">
                    <p class="mb-1"><a href="#">Known bugs</a></p><small>Proin a porta turpis. Curabitur ultricies risus eget nulla commodo tempor.</small>
                </div>
                <div class="d-flex text-center">
                    <div class="wd-xxs"><span>9541</span></div>
                    <div class="wd-xxs"><span>1547</span></div>
                </div>
            </div>
        </div>
    </div>
</div>
